@{
    ViewData["Title"] = "Blog";
    ViewData["Additional"] = "Dashboard";
    ViewData["Background"] = "maincontent/concurso-bid.jpg";
    ViewData["Title-Main"] = "Memoria Grafica de 'Conecta con la Memoria'";
    ViewData["Title-Description"] = "Proceso Grafico y Explicativo del Proyecto 'Conecta'";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">El Concurso - BID CitiesLab</h3>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                El BID CitiesLab es un concurso universitario orientado a buscar soluciones creativas e ideas innovadoras a problemas urbanos de América Latina y el Caribe (ALC), de la mano a estudiantes, profesores universitarios y jóvenes profesionales. Tiene el objetivo de servir como semillero e incubadora del talento joven en temas urbanos a partir de una red de trabajo con universidades, reducir la brecha entre los jóvenes y el mercado laboral brindándoles experiencia directa con retos reales y actores de su propio contexto latinoamericano, así como promover un espacio participativo que ponga en discusión los paradigmas de la disciplina.
            </p>
            <center><figure><img src="~/images/concurso/inscritos.png" style="width: 100vh;" /></figure></center>
            <p>
                Esta cuarta edición internacional del concurso universitario BID CitiesLab (conocido anteriormente como el BID UrbanLab) es organizada por el LAB de innovación de la División de Vivienda y Desarrollo Urbano del BID, en alianza con la Subsecretaría de Desarrollo Regional y Administrativo (SUBDERE) del Gobierno de Chile y la Ilustre Municipalidad de Santiago, con el objetivo de desarrollar un proyecto urbano integral, una propuesta programática y un modelo de gestión sostenible, desde un enfoque participativo e innovador, para el predio de carácter patrimonial del antiguo asilo ¨Hermanitas de los Pobres¨ y su entorno inmediato, ubicado en el barrio Matta Sur de Santiago de Chile y como parte del Programa de Revitalización de Barrios e Infraestructura Patrimonial Emblemática (PRBIPE).
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align:center">
                Ex Asilo Hermanitas de los Pobres
            </h3>
            <div class="videocaja"><div id="video1"><img src="http://img.youtube.com/vi/kjoX05V7vRs/hqdefault.jpg" /></div></div>
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center">
                Concurso BID Cities Lab
            </h3>
            <div class="videocaja"><div id="video2"><img src="http://img.youtube.com/vi/zskVk6ZeYtA/hqdefault.jpg" /></div></div>
        </div>
    </div>
    <br /><br />
    <!-- Colaboración -->
    <h3 class="title">Alianzas del Concurso:</h3>
    <div class="row">
        <ul class="nav nav-pills nav-pills-danger nav-pills-icons ml-auto mr-auto" role="tablist">
            <li class="nav-item">
                <a class="nav-link active   " href="#tasks-1" role="tab" data-toggle="tab">
                    <figure>
                        <img src="~/images/concurso/bid.png" alt="BID" />
                    </figure>
                    <br />
                    Banco Interamericano de Desarrollo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#dashboard-1" role="tab" data-toggle="tab">
                    <figure>
                        <img src="~/images/concurso/subdere.png" alt="SUBDERE" />
                    </figure><br />
                    SUBDERE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
                    <figure>
                        <img src="~/images/concurso/ilustre.jpg" alt="ilustre" />
                    </figure><br />
                    Santiago - Ilustre Municipalidad
                </a>
            </li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane" id="tasks-1">
                Establecido en 1959, el Banco Interamericano de Desarrollo es la principal fuente de financiamiento para el desarrollo económico, social e institucional en América Latina y el Caribe. Proporciona préstamos, subvenciones, garantías, asesoramiento sobre políticas y asistencia técnica a los sectores público y privado de sus países prestatarios. Con el objetivo de enfrentar los desafíos urbanos de América Latina y el Caribe, en mayo de 2016 el Banco estableció la nueva División de Vivienda y Desarrollo Urbano (HUD por sus siglas en inglés) como parte del Sector de Cambio Climático y Desarrollo Sostenible. Por medio de la reforma institucional, en 2016 la Iniciativa de Ciudades Emergentes y Sostenibles ICES fue incorporada como parte de HUD junto a las diferentes operaciones y proyectos a nivel urbano. Para el fortalecimiento de esta labor, se ha creado dentro de la División el LAB Ciudades: una plataforma de servicios que busca explorar y experimentar a través de productos participativos de innovación urbana, agregando valor a proyectos y operaciones que promueven el desarrollo urbano sostenible en la región. Uno de los principales productos del LAB son los conocidos concursos universitarios BID CitiesLab (conocidos anteriormente como BID UrbanLab), orientados a buscar soluciones creativas e ideas innovadoras a problemas urbanos de América Latina y el Caribe (ALC) de la mano a estudiantes, profesores universitarios y jóvenes profesionales.
                ‍<br />‍<br />
                <strong>Más información: <a href="https://www.iadb.org/es">https://www.iadb.org/es</a></strong>
            </div>
            <div class="tab-pane active" id="dashboard-1">
                La Subsecretaría de Desarrollo Regional y Administrativo del Gobierno de Chile busca impulsar y conducir las reformas institucionales en materia de descentralización, que contribuyan a una efectiva transferencia de poder político, económico y administrativo a los gobiernos regionales y a los municipios. Entre sus objetivos estratégicos institucionales busca (i) proponer reformas legales, diseñar y evaluar políticas públicas que fortalezcan las competencias administrativas, económicas y políticas de los gobiernos regionales y municipios, para que estos puedan gobernar con equidad y eficiencia el territorio (ii) fortalecer las capacidades técnicas, institucionales y el capital humano en los Gobiernos Regionales y los municipios para el diseño e implementación de políticas, planes y programas de desarrollo regional y local, impulsando la innovación; la competitividad; la creación de redes y el fortalecimiento de las identidades territoriales (iii) administrar fondos de inversión e implementar la transferencia progresiva de programas sectoriales en el marco de la transferencia de servicios y competencias a los niveles regional y municipal para mejorar la focalización y la efectividad de las políticas públicas y su efecto en la calidad de vida de la población y (vi) transformarse en una institución adecuada a los desafíos de la descentralización y equidad territorial, con una especial preocupación por el desarrollo de los territorios rezagados, aislados y regiones extremas, capaz de proporcionar soluciones flexibles, oportunas y pertinentes a las necesidades de los territorios y de la ciudadanía.
                ‍<br />‍<br />
                <strong>Más información: <a href="http://www.subdere.gov.cl">http://www.subdere.gov.cl</a></strong>
            </div>
            <div class="tab-pane" id="schedule-1">
                La Ilustre Municipalidad de Santiago en su propósito de mejorar la calidad de vida de sus vecinos y usuarios, tiene como guía y fundamentos (i) cumplir los requisitos legales y reglamentarios aplicables con nuestros vecinos y usuarios, reordenando las prioridades de nuestra gestión, poniendo como primer objetivo a la comuna y su gente, entregando respuestas de manera amable y oportuna para elevar los niveles de satisfacción de nuestros vecinos y usuarios, así como el desarrollo permanente de las competencias de nuestros funcionarios, incentivando su participación activa en el Sistema de Gestión de Calidad, mejorando de manera sistemática la calidad de nuestros servicios municipales. La materialización de estos fundamentos implica necesariamente que la Calidad es un compromiso de todos, y constituye uno de los pilares que permitirán proyectar a Santiago, comuna capital de Chile, como una comuna moderna, respetuosa de su gente y territorio, reconocida por contar con funcionarios empoderados, comprometidos, interesados en entregar un buen servicio a la comunidad.
                ‍<br />‍<br />
                <strong>Más información: <a href="http://www.municipalidaddesantiago.cl">http://www.municipalidaddesantiago.cl</a></strong>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <h3 style="text-align:center">
                Requisitos
            </h3>
            <p>
                El Comité Organizador BID CitiesLab invita a participar en el concurso a estudiantes de pregrado que se encuentren cursando los dos últimos años de carrera universitaria (carreras de cuatro a cinco años), a estudiantes de postgrado en cualquier especialidad y a los docentes universitarios en rol de supervisores. De manera opcional, los equipos pudieran contar en su conformación (dentro del límite de miembros) con hasta 2 jóvenes profesionales. Todos los participantes deberán formar, con carácter obligatorio, equipos multidisciplinarios de un mínimo de cuatro y un máximo de seis miembros que cumplan las siguientes condiciones:<br>&zwj;<br>•	Estar inscrito como estudiante (pregrado o postgrado) en una universidad de un país de ALC; o<br>•	Estar inscrito en una universidad fuera de la región ALC pero conformando un equipo con una universidad de la región ALC y presentando una propuesta en conjunto, incluyendo docentes supervisores de las 2 instituciones.<br>•	Docentes supervisores deberán estar activos al momento de la postulación al concurso.<br>•	Jóvenes profesionales deberán tener un máximo de 3 años de graduados, hasta 35 años de edad al momento de la postulación y que hayan estudiado en universidades elegibles.<br>•	Todos los participantes en el concurso deberán ser nacionales de alguno de los países miembros del BID y hablar fluido español.<br>&zwj;<br>Para validar su participación, cada equipo deberá subir a la plataforma web la documentación de todos sus miembros que acredite los siguientes requerimientos:<br>&zwj;<br>•	<strong>Estudiantes universitarios de pregrado y postgrado</strong>: copia de la matrícula, o certificado expedido por la universidad, que acredite que el participante se encuentra matriculado en la universidad correspondiente al momento de la inscripción en el concurso.<br>•	<strong>Jóvenes Profesionales</strong>: copia del título universitario, o documentación equivalente, que acredite que el participante ha finalizado sus estudios como máximo en el año 2014, en una de las universidades elegibles para participar en el concurso.<br>•	<strong>Docentes supervisores</strong>: CV que incluya su experiencia académica y profesional.<br>•	<strong>Cada equipo deberá presentar una carta aval o comunicado oficial de la universidad</strong> a la cual pertenece donde se autorice su participación en el concurso. En caso de tener miembros de distintas universidades, serán necesarias las cartas aval o comunicados de cada una.
            </p>
            <figure><img src="~/images/concurso/requisitos.png" /></figure>
            <hr />
            <strong>Toda la información anterior fue tomada de: <a href="http://convocatorias.iadb.org/citieslab/santiago">http://convocatorias.iadb.org/citieslab/santiago</a></strong>
            <hr />
            <h3 style="text-align:center">
                Matta Sur
            </h3>
            <p>
                El Barrio Matta Sur fue parte del denominado Sector Sur o Barrio Sur de la Cañada (Alameda), que hasta mediados del siglo XIX estaba conformado por chacras que abarcaban desde la propia Cañada hasta el Zanjón de la Aguada, y por pequeños poblados. Estos poblados se agruparon en torno a las calles Carmen, Santa Rosa y San Isidro, las cuales desde finales del siqlo XVIII fueron orientando el crecimiento de la ciudad hacia el Sur.
            </p>
            <figure><img src="~/images/concurso/barrio-mattasur.png" /></figure>
            <center>
                <a asp-controller="Historia" asp-action="MattaSur" class="btn btn-rose btn-round btn-lg">
                    <i class="material-icons">format_align_left</i> Leer más acerca de Matta Sur
                    <div class="ripple-container"></div>
                </a>
            </center>
        </div>
    </div>
</div>