@{
    ViewData["Title"] = "Blog";
    ViewData["Background"] = "maincontent/representativos-lugares.jpg";
    ViewData["Title-Main"] = "Lugares - Chile";
    ViewData["Title-Description"] = "Conoce los más hermosos lugares que te puede ofrecer Chile.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            1- Santiago. Centro de Chile:
        </h3>
        <p>
            Parque Bicentenario en Santiago. En el Flickr de jikatu.<br />
            Agitada capital de Chile, distinguida en el 2011 por el periódico New York Times dentro de los mejores destinos del mundo, cautivando por sus museos de arte, sofisticados restaurantes y propuestas de diseño que han impregnado algunos de sus más famosos barrios.
            <br /><br />
            Rutas del vino, modernos centros de esquí y un extenso litoral a solo 100 kilómetros de distancia, son otro de sus grandes atractivos, cercanía que permite disfrutar en un mismo día de las nieves de la montaña para luego bajar a las arenas de la costa. Más información en el siguiente artículo de Santiago.
        </p>
        <figure>
            <img src="~/images/lugares/1.jpg" style="width:100%" />
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            2- San Pedro de Atacama. Norte de Chile:
        </h3>
        <p>
            Valle de la Luna en San Pedro de Atacama. En el Flickr de Nico Kaiser.<br />
            Poblado altiplánico situado en pleno Desierto de Atacama a alturas por sobre los 2.400 metros por sobre el nivel del mar, fascinante paraje que deslumbra por sus pintorescas arquitecturas blancas y estrechas callecitas inmersas entre majestuosos paisajes de cordilleras y salares.
            <br /><br />
            Paradisiacos entornos tales como los Géiseres del Tatio y los Valles de la Luna y de la Muerte, son otro de sus atractivos, maravillas naturales que se entremezclan con mágicos poblados rurales y antiguos yacimientos arqueológicos de la cultura atacameña, que dan muestra de más doce mil años de ocupación humana. Más información en el siguiente artículo de San Pedro de Atacama.
        </p>
        <figure>
            <img src="~/images/lugares/2.jpg" style="width:100%" />
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            3- Parque Nacional Lauca. Norte de Chile:
        </h3>
        <p>
            Lagunas de Cotacotani. Wikimedia Commons, por Davide guallini.<br />
            Sin estar dentro de los lugares turísticos de Chile más conocidos, corresponde a una joya de patrimonio natural situado a 165 kilómetros de Arica, escondido entre paisajes altiplánicos, montañas nevadas y poblados de la cultura Aymará, siendo hogar de un ecosistema único en el mundo que habita a la sorprendente altitud de 4.500 metros sobre el nivel del mar.
            <br /><br />
            Dentro de sus escenarios de mayor belleza destacan las Lagunas de Cotacotani con bofedales e islotes volcánicos y El Lago Chungará, uno de los más altos del planeta, con aguas de tonalidades verde esmeralda en donde se reflejan imponentes macizos nevados y los gigantes volcanes Parinacota y Pomerape.
        </p>
        <figure>
            <img src="~/images/lugares/3.jpg" style="width:100%" />
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            4- Iquique. Norte de Chile:
        </h3>
        <p>
            Playa Cavancha en Iquique. En el Flickr de rewbs.soal.<br />
            Vibrante ciudad balneario, una localidad del norte de Chile, que cautiva con sus playas de arenas blancas y oleaje suave, hermosas arquitecturas en madera levantadas durante la época de esplendor de las salitreras y valiosos museos arqueológicos que dan muestra de la Cultura Chinchorro que habitó la zona 5.000 años atrás.
            <br /><br />
            Sus alrededores son otro de sus atractivos, figurando alternativas como paseos a las vecinas salitreras de Humberstone y Santa Laura declaradas Patrimonio de la Humanidad por la Unesco, los enigmáticos geoglifos tallados en los cerros de Pintados y hermosos oasis verdes, situados en medio del desierto como Pica. Más información en el siguiente artículo de Iquique.
        </p>
        <figure>
            <img src="~/images/lugares/4.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            5- Isla de Pascua. Centro de Chile:
        </h3>
        <p>
            Atardecer en Ahu Tongariki Isla de Pascua. En el Flickr de David Berkowitz.<br />
            Localizada en medio del Océano Pacífico, es considerada uno de los lugares turísticos de Chile que genera mayor curiosidad, tanto por sus enigmáticas esculturas en piedra conocidas como Moáis como por las misteriosas leyendas y tradiciones de la cultura ancestral Rapanui.
            <br /><br />
            Declarada Patrimonio de la Humanidad por la Unesco, maravilla también por sus escenarios de exótica belleza, entre los que se encuentran las arenas rosadas de la Playa de Ovahe, las aguas turquesas de Anakena o las innumerables cuevas que se abren camino entre las laderas de los volcanes. Más información en el siguiente artículo de Isla de Pascua.
        </p>
        <figure>
            <img src="~/images/lugares/5.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            6- Valparaíso. Centro de Chile:
        </h3>
        <p>
            Cerros de Valparaíso. En el Flickr de Carlos Reusser Monsálvez.<br />
            Conocida como la joya del Pacífico, corresponde a una ciudad portuaria declarada Patrimonio de la Humanidad por la Unesco. Famosa por sus cerros tapizados de coloridas arquitecturas, empinadas escaleras y singulares ascensores, que a modo de anfiteatro abrazan la bahía.<br />
            Agitada vida nocturna y amplia oferta cultural son otras de sus características, considerada la Capital de la Cultura de Chile, seduce tanto por su arte callejero, con miles de muros grafiteados por artistas locales, como por sus numerosos espectáculos, festivales y carnavales que a lo largo del año hacen vibrar la ciudad con danza, teatro, música y pintura. Más información en el siguiente artículo de Valparaíso.
        </p>
        <figure>
            <img src="~/images/lugares/6.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            7- Chiloé. Sur de Chile:
        </h3>
        <p>
            Palafitos de Chiloé. En el Flickr de Silviapef.<br />
            Archipiélago de mágicas islas y pequeños islotes dispersas entre las aguas del Océano Pacífico, hogar de una fascinante cultura rica en leyendas y tradiciones que conviven entre paisajes rurales, caletas de pescadores y coloridos palafitos que se elevan sobre el mar.<br />
            Sus iglesias merecen un capítulo aparte, declaradas Patrimonio de la Humanidad por la Unesco, construyen una verdadera ruta de peregrinaje, situadas a no más de diez kilómetros una de otra, asombran por la simplicidad de sus formas y su construcción íntegramente en madera. Más información en el siguiente artículo de Chiloé.
        </p>
        <figure>
            <img src="~/images/lugares/7.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            8- Carretera Austral. Sur de Chile:
        </h3>
        <p>
            Ventisquero Colgante en Parque Nacional Queulat. En el Flickr de betoscopio.<br />
            Ruta de 1240 kilómetros que cruza la Patagonia Chilena, realizable tanto en auto como en bicicleta, con un inicio en la ciudad pesquera de Puerto Montt para culminar en Villa O’Higgins, puerta de entrada a los Campos de Hielo Sur.<br />
            A lo largo de su recorrido se atraviesan escenarios naturales de extraordinaria belleza, lugares turísticos de Chile ocultos en la vastedad de los bosques vírgenes, parajes mágicos tales como los alerces milenarios de Hornopirén, los fiordos del Parque Pumalín, las aguas termales de Puyuhuapi, el ventisquero colgante del Parque Nacional Queulat o los caudalosos rápidos de Futaleufú, entre muchos otros.
        </p>
        <figure>
            <img src="~/images/lugares/8.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            9- Laguna San Rafael. Sur de Chile:
        </h3>
        <p>
            Laguna San Rafael. Wikimedia Commons por Vincent Huang.<br />
            Entre los Campos de Hielo Norte en un área reconocida como Reserva Mundial de la Biosfera por la Unesco, se sitúa este idílico paisaje, hogar del majestuoso Glaciar San Rafael, que naciendo en el nevado de San Valentín recorre quince quilómetros de distancia, para finalmente desembocar en la laguna del mismo nombre.<br />
            Solo accesible por medio de embarcaciones especiales, hechiza por sus torres de hielo que alcanzan setenta metros de altura, enormes témpanos que flotan sobre las aguas y un silencio sobrecogedor que permite escuchar los constantes desprendimientos de hielo.
        </p>
        <figure>
            <img src="~/images/lugares/9.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            10- Parque Nacional Torres del Paine. Sur de Chile
        </h3>
        <p>
            Parque Nacional Torres del Paine. Wikimedia Commons por Miguel Vieira.<br />
            Santuario de la naturaleza reconocido como Reserva Mundial de la Biosfera por la Unesco, hogar de una cuantiosa vida silvestre e inigualables bellezas escénicas, conformadas a partir de glaciares, montañas, valles, ríos y lagos.<br />
            Su mayor atractivo lo constituyen las llamadas Torres del Paine, tres enormes torres de granito modeladas a lo largo de doce millones de años por la fuerza del hielo glacial, adquiriendo en el tiempo curiosas formas afiladas que alcanzan su esplendor con las tonalidades rojizas del amanecer y atardecer.
        </p>
        <figure>
            <img src="~/images/lugares/10.jpg" style="width:100%" />
        </figure>
    </div>
</div>
<br />
Tomado: https://enviajes.cl/chile/lugares-turisticos-de-chile/
