
<ul class="nav">
    <!-- Country Structure -->
    <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
            <i class="material-icons">apps</i>
            <p>
                Estructura Geografica
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="componentsExamples">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#componentsStructuresCountries">
                        <span class="sidebar-mini"> MLT </span>
                        <span class="sidebar-normal">
                            País
                            <b class="caret"></b>
                        </span>

                    </a>

                    <div class="collapse" id="componentsStructuresCountries">
                        <ul class="nav">
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="Countries" asp-action="Create">
                                    <span class="sidebar-mini"> C </span>
                                    <span class="sidebar-normal"> Crear </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#0">
                                    <span class="sidebar-mini"> E </span>
                                    <span class="sidebar-normal"> Paginas </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#componentsCollapseCreate">
                        <span class="sidebar-mini"> MLT </span>
                        <span class="sidebar-normal">
                            Crear
                            <b class="caret"></b>
                        </span>

                    </a>

                    <div class="collapse" id="componentsCollapseCreate">
                        <ul class="nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="#0">
                                    <span class="sidebar-mini"> E </span>
                                    <span class="sidebar-normal"> Eventos </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#0">
                                    <span class="sidebar-mini"> E </span>
                                    <span class="sidebar-normal"> Paginas </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </li>
</ul>
