<center>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2 id="coloredShadows">Conoce Tú historia Chilena</h2>
                    <h4>En los siguientes enlaces hacemos alución a gran parte del patrimonio Chileno en especial el barrio de Matta Sur y lugares aledaños al Asilo.</h4>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="Historia" asp-action="Index">
                            <img src="~/images/maincontent/historia.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/historia.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body">
                        <h6 class="card-category text-warning">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="Historia" asp-action="Index">Historia</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="ArteyCultura" asp-action="Index">
                            <img src="~/images/maincontent/arte.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/arte.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body">
                        <h6 class="card-category text-rose">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="ArteyCultura" asp-action="Index">Arte y Cultura</a>
                        </h4>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="Personajes" asp-action="Index">
                            <img src="~/images/maincontent/represetnativos-personajes.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/represetnativos-personajes.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body ">
                        <h6 class="card-category text-info">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="Personajes" asp-action="Index">Personajes Representativos</a>
                        </h4>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="FaunayFlora" asp-action="Index">
                            <img src="~/images/maincontent/fauna-flora.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/fauna-flora.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body">
                        <h6 class="card-category text-warning">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="FaunayFlora" asp-action="Index">Fauna Y Flora</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="FiestasPatrias" asp-action="Index">
                            <img src="~/images/maincontent/fiestas-patrias.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/fiestas-patrias.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body">
                        <h6 class="card-category text-rose">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="FiestasPatrias" asp-action="Index">Fiestas Patrias</a>
                        </h4>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="card card-blog">
                    <div class="card-header card-header-image">
                        <a asp-controller="Lugares" asp-action="Index">
                            <img src="~/images/maincontent/representativos-lugares.jpg" alt="">
                            <div class="colored-shadow" style="background-image: url(~/images/maincontent/representativos-lugares.jpg); opacity: 1;"></div>
                        </a>

                    </div><div class="card-body ">
                        <h6 class="card-category text-info">Tema a Tratar</h6>
                        <h4 class="card-title">
                            <a asp-controller="Lugares" asp-action="Index">Lugares Representativos</a>
                        </h4>
                    </div>
                </div>

            </div>

        </div>
    </div>
</center>