<div class="row">
    <ul class="nav nav-pills nav-pills-danger nav-pills-icons ml-auto mr-auto" role="tablist">
        <li class="nav-item">
            <a class="nav-link active   " href="#tasks-1" role="tab" data-toggle="tab">
                <figure>
                    <img src="~/images/concurso/bid.png" alt="BID" />
                </figure>
                <br />
                Banco Interamericano de Desarrollo
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#dashboard-1" role="tab" data-toggle="tab">
                <figure>
                    <img src="~/images/concurso/subdere.png" alt="SUBDERE" />
                </figure><br />
                SUBDERE
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#schedule-1" role="tab" data-toggle="tab">
                <figure>
                    <img src="~/images/concurso/ilustre.jpg" alt="ilustre" />
                </figure><br />
                Santiago - Ilustre Municipalidad
            </a>
        </li>
    </ul>
    <div class="tab-content tab-space">
        <div class="tab-pane" id="tasks-1">
            Establecido en 1959, el Banco Interamericano de Desarrollo es la principal fuente de financiamiento para el desarrollo económico, social e institucional en América Latina y el Caribe. Proporciona préstamos, subvenciones, garantías, asesoramiento sobre políticas y asistencia técnica a los sectores público y privado de sus países prestatarios. Con el objetivo de enfrentar los desafíos urbanos de América Latina y el Caribe, en mayo de 2016 el Banco estableció la nueva División de Vivienda y Desarrollo Urbano (HUD por sus siglas en inglés) como parte del Sector de Cambio Climático y Desarrollo Sostenible. Por medio de la reforma institucional, en 2016 la Iniciativa de Ciudades Emergentes y Sostenibles ICES fue incorporada como parte de HUD junto a las diferentes operaciones y proyectos a nivel urbano. Para el fortalecimiento de esta labor, se ha creado dentro de la División el LAB Ciudades: una plataforma de servicios que busca explorar y experimentar a través de productos participativos de innovación urbana, agregando valor a proyectos y operaciones que promueven el desarrollo urbano sostenible en la región. Uno de los principales productos del LAB son los conocidos concursos universitarios BID CitiesLab (conocidos anteriormente como BID UrbanLab), orientados a buscar soluciones creativas e ideas innovadoras a problemas urbanos de América Latina y el Caribe (ALC) de la mano a estudiantes, profesores universitarios y jóvenes profesionales.
            ‍<br />‍<br />
            <strong>Más información: <a href="https://www.iadb.org/es">https://www.iadb.org/es</a></strong>
        </div>
        <div class="tab-pane active" id="dashboard-1">
            La Subsecretaría de Desarrollo Regional y Administrativo del Gobierno de Chile busca impulsar y conducir las reformas institucionales en materia de descentralización, que contribuyan a una efectiva transferencia de poder político, económico y administrativo a los gobiernos regionales y a los municipios. Entre sus objetivos estratégicos institucionales busca (i) proponer reformas legales, diseñar y evaluar políticas públicas que fortalezcan las competencias administrativas, económicas y políticas de los gobiernos regionales y municipios, para que estos puedan gobernar con equidad y eficiencia el territorio (ii) fortalecer las capacidades técnicas, institucionales y el capital humano en los Gobiernos Regionales y los municipios para el diseño e implementación de políticas, planes y programas de desarrollo regional y local, impulsando la innovación; la competitividad; la creación de redes y el fortalecimiento de las identidades territoriales (iii) administrar fondos de inversión e implementar la transferencia progresiva de programas sectoriales en el marco de la transferencia de servicios y competencias a los niveles regional y municipal para mejorar la focalización y la efectividad de las políticas públicas y su efecto en la calidad de vida de la población y (vi) transformarse en una institución adecuada a los desafíos de la descentralización y equidad territorial, con una especial preocupación por el desarrollo de los territorios rezagados, aislados y regiones extremas, capaz de proporcionar soluciones flexibles, oportunas y pertinentes a las necesidades de los territorios y de la ciudadanía.
            ‍<br />‍<br />
            <strong>Más información: <a href="http://www.subdere.gov.cl">http://www.subdere.gov.cl</a></strong>
        </div>
        <div class="tab-pane" id="schedule-1">
            La Ilustre Municipalidad de Santiago en su propósito de mejorar la calidad de vida de sus vecinos y usuarios, tiene como guía y fundamentos (i) cumplir los requisitos legales y reglamentarios aplicables con nuestros vecinos y usuarios, reordenando las prioridades de nuestra gestión, poniendo como primer objetivo a la comuna y su gente, entregando respuestas de manera amable y oportuna para elevar los niveles de satisfacción de nuestros vecinos y usuarios, así como el desarrollo permanente de las competencias de nuestros funcionarios, incentivando su participación activa en el Sistema de Gestión de Calidad, mejorando de manera sistemática la calidad de nuestros servicios municipales. La materialización de estos fundamentos implica necesariamente que la Calidad es un compromiso de todos, y constituye uno de los pilares que permitirán proyectar a Santiago, comuna capital de Chile, como una comuna moderna, respetuosa de su gente y territorio, reconocida por contar con funcionarios empoderados, comprometidos, interesados en entregar un buen servicio a la comunidad.
            ‍<br />‍<br />
            <strong>Más información: <a href="http://www.municipalidaddesantiago.cl">http://www.municipalidaddesantiago.cl</a></strong>
        </div>

    </div>
</div>