<div class="cd-section" id="footers">
    <div id="footer-areas">

        <footer class="footer footer-white footer-big">

            <div class="container">

                <div class="content">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="@Url.Content("~/")"><h5>Conecta</h5></a>
                            <p>Conecta con la memoria es un proyecto innovador el cual es liderado por un grupo de estudiantes en diversas modalidades de la Universidad de Boyacá - Tunja</p>
                        </div>
                        <div class="col-md-2">
                            <h5>About</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a href="#pablo">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Presentation
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2">
                            <h5>Market</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a href="#pablo">
                                        Sales FAQ
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        How to Register
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Sell Goods
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Receive Payment
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Transactions Issues
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h5>Legal</h5>
                            <ul class="links-vertical">
                                <li>
                                    <a href="#pablo">
                                        Transactions FAQ
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo">
                                        Licenses
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>Subscribe to Newsletter</h5>
                            <p>
                                Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                            </p>
                            <form class="form form-newsletter" method="" action="#">

                                <div class="form-group bmd-form-group">
                                    <input type="email" class="form-control" placeholder="Your Email...">
                                </div>

                                <button type="button" class="btn btn-primary btn-just-icon" name="button">
                                    <i class="material-icons">mail</i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <hr>

                <ul class="social-buttons">
                    <li>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                </ul>

                <div class="copyright pull-center">
                    Copyright ©
                    <script>document.write(new Date().getFullYear())</script>2018 Creative Tim All Rights Reserved.
                </div>
            </div>
        </footer>
    </div>
</div>