@if (ViewData["Title"].Equals("about"))
{
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg9.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewData["Title"].Equals("index"))
{
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="conecta-box-search col-md-12 ml-auto mr-auto">
            <div class="brand">
                <h1>
                    Conecta
                    <span class="pro-badge">
                        con la Memoria
                    </span>
                </h1>

                <h3 class="title">Santiago de Chile - Matta Sur</h3>
            </div>
            <div class=" card card-raised card-form-horizontal">
                <div class="conecta-card-body card-body conecta-card-body">
                    <!--Content-->
                    <!--//Content-->
                </div>
            </div>
        </div><div class="container">
            <div class="row">

            </div>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/1.JPG');">

                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/2.JPG');">

                </div>
            </div>
            <div class="carousel-item active">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/3.JPG');">

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
        </a>
    </div>
}