<div class="page-header header-filter" data-parallax="true" style="background-image: url('@Url.Content("~/")images/@ViewData["Background"]');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">@ViewData["Title-Main"]</h1>
                <h4>@ViewData["Title-Description"]</h4>
                <br>
                <a href="#content" class="btn btn-rose btn-round btn-lg">
                    <i class="material-icons">format_align_left</i> Leer esta publicación
                </a>
            </div>
        </div>
    </div>
</div>