<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>@ViewData["Title"] - Conectaconlamemoria</title>
    @await Html.PartialAsync("_MetaTagsPartial")
    @await Html.PartialAsync("_HeadPartial_Dashboard")
</head>
<body>
    <div class="wrapper">
        @await Html.PartialAsync("_SideBarDashboardPartial")
        <div class="main-panel">
            @await Html.PartialAsync("_NavBarDashboardPartial");
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Html.PartialAsync("_FooterDashboardPartial")
        </div>
    </div>
    @await Html.PartialAsync("_ScriptsPartialDashboard")
    <script>$("#@ViewData["Title"]").parent(".nav-item").addClass("active");</script>
</body>
</html>
