@{
    ViewData["Title"] = "Blog";
    ViewData["Background"] = "maincontent/historia.jpg";
    ViewData["Title-Main"] = "Historia Chilena";
    ViewData["Title-Description"] = "Conoce los inicios principales de la Historia Chilena.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Historia de Chile</h3>
        <p>
            Un país joven, que guarda las huellas de los primeros seres humanos que habitaron América hace más de 12.500 años, y que se proyecta hacia el futuro con vocación de progreso.
        </p>

        <p>La historia de Chile se dividide generalmente en doce periodos que abarcan desde el comienzo del poblamiento humano del territorio del actual Chile hasta nuestros días.</p>

        <p>El periodo prehispánico corresponde a la historia de las diferentes etnias amerindias presentes en el territorio, extendiéndose desde alrededor del año 14 800 A.C. hasta la llegada de los conquistadores españoles. A partir de 1492, se iniciaron las exploraciones europeas en el continente americano. Fernando de Magallanes y su expedición fueron los primeros europeos en llegar a Chile por el sur a través del estrecho que hoy lleva su nombre en 1520 y Diego de Almagro comandó una expedición hasta el Valle del Aconcagua y el norte del actual Chile en 1536.</p>

        <p>El tercer periodo corresponde a la conquista española, que se extendió entre 1536 y 1598 con la Guerra de Arauco, durante la cual los españoles estuvieron cerca de ser exterminados por los indígenas mapuches. El período colonial cubre algo más de dos siglos, entre 1598 y 1808, lapso marcado por el establecimiento de las instituciones coloniales.</p>

        <p>El denominado periodo de la Independencia se desarrolló desde la deposición del gobernador español en 1810 hasta el exilio del Libertador Bernardo O’Higgins en 1823. Estuvo marcado por diversas batallas contra los realistas, que lograron reconquistar brevemente el país, y por problemas en su gobierno. Una vez que la independencia del país fue lograda, siguió un periodo de organización del estado chileno, entre los años 1823 y 1830, que vio sucederse tres gobernantes y dos constituciones.</p>

        <p>Entre 1831 y 1861, tuvo lugar el periodo de la República conservadora. Estuvo marcado por la puesta en vigor de la Constitución de 1833, establecida por Diego Portales, con un gobierno fuerte y centralizador. A pesar de algunos intentos de subversión, se mantuvo la estabilidad institucional y el país conoció la prosperidad económica.</p>

        <div class="section col-md-12 ml-auto mr-auto">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" src="http://www.maipupatrimonial.cl/mp/wp-content/uploads/2011/10/abrazo_de_maipu.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" src="https://www.thisischile.cl/wp-content/uploads/2014/03/pagina_historia_690.jpg">
                </div>
                <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" src="https://www.curiosfera.com/wp-content/uploads/2017/10/Historia-independencia-Chile.jpg">
                </div>
            </div>
        </div>

        <p>El octavo periodo, conocido como la República liberal, que se extendió desde 1861 hasta 1891, estuvo caracterizado por una mayor estabilidad política y permitió una extensión del territorio hacia el sur y el norte.</p>

        <p>A partir de la guerra civil de 1891, comenzó la República parlamentaria, que se prolongó hasta la promulgación de la Constitución de 1925. El Congreso nacional dominó la política y el presidente devino una figura prácticamente sin autoridad. El país se urbanizó y se crearon los primeros sindicatos.</p>

        <p>La República presidencial marcó un cambio en las instituciones, con la Constitución de 1925, hasta el golpe de estado de 1973. Tres partidos dominaron la política: los radicales, los demócrata cristianos y los socialistas. Numerosas empresas públicas fueron creadas en este periodo. Su final estuvo marcado por el triunfo de la izquierda y las ideas socialistas.</p>

        <p>Luego del golpe de estado del 11 de septiembre de 1973 que derrocó al presidente democráticamente electo Salvador Allende, un régimen militar dictatorial ocupó el poder, con una junta de gobierno dirigida por el general Augusto Pinochet. Decenas de miles de opositores fueron arrestados, torturados o asesinados, incluso en el extranjero, mientras que otros fueron expulsados o condenados al exilio. Con la ayuda de los Chicago Boys, Pinochet llevó adelante una política económica liberal, y una nueva constitución fue adoptada en 1980.</p>

        <p>Finalmente, la transición hacia la democracia se efectuó a partir de 1990, al asumir la presidencia Patricio Aylwin. En 2006, Michelle Bachelet se convirtió en la primera mujer en ocupar la presidencia del país. En 2010 asumió Sebastián Piñera como el primer presidente de derecha elegido democráticamente desde 1958. Luego de esto, Michelle Bachelet volvió a la presidencia en el año 2014.</p>
        <strong>Tomado:</strong> <a href="https://www.thisischile.cl/historia/">https://www.thisischile.cl/historia/</a>

    </div>
</div>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Historia de Chile - 5 minutos</h3>
        <div class="videocaja"><div id="video"><img src="http://img.youtube.com/vi/bHH37ZSfik4/hqdefault.jpg" /></div></div>
    </div>

</div>