<div class="col-md-12 ml-auto mr-auto">
    <div class="header text-center">
        <h3 class="title">
            Planificación arquitectonica del terreno
        </h3>
    </div>
    <div class="row">
        <p>
            Mensaje cla
        </p>

    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-1/edificio-1.jpg">
        </div>
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-1/edificio-2.jpg">
        </div>
        <div class="col-md-4">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-1/edificio-pb.jpg">
        </div>
    </div>
    <div class="header text-center">
        <h3 class="title">
            Perfil Vial de la Avenida Matta
        </h3>
    </div>
    <div class="row">
        <figure>
            <img src="~/docs/memoria-grafica/agosto/etapa-1/modificacion-av-matta.jpg" style="width:100%" />
            <figcaption>Modificación perfl vial Av. Matta</figcaption>
        </figure>
    </div>
    <hr />
    <div class="header text-center">
        <h3 class="title">
            Propuesta programática Ex asilo
        </h3>
    </div>
    <div class="row">
        <figure>
            <img src="~/docs/memoria-grafica/agosto/etapa-2/corte-espacio-publico.jpg" style="width:100%" />
            <figcaption>Corte espacio público + edificio ex asilo</figcaption>
        </figure>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/agosto/etapa-2/PGEA-planta-baja.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/PGEA-planta-baja.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-warning">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Planta Baja
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/agosto/etapa-2/PGEA-primer-piso.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/PGEA-primer-piso.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-rose">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Primer Piso
                    </h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/agosto/etapa-2/PGEA-segundo-piso.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/PGEA-segundo-piso.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body ">
                    <h6 class="card-category text-info">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Segundo Piso
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <figure>
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-2/Diseño gráfico/logo.png">
        </figure>
        <div id="content-3" style="width: -webkit-fill-available;width: 100%;"></div>
    </div>
    <div class="row">
        <a class="btn btn-success ml-auto mr-auto" href='javascript:showfile(3, "docs/memoria-grafica/agosto/etapa-1/ideas-espacio-publico.pdf")'>See file</a>
        <a class="btn btn-danger ml-auto mr-auto" href="~/docs/memoria-grafica/agosto/etapa-1/ideas-espacio-publico.pdf">Download file.pdf</a>
    </div>
    <!-- Etapas-->
    <div class="row">


        <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
                <a href="#pablo">
                    <img class="img img-raised" src="~/docs/memoria-grafica/agosto/etapa-2/presentacion-1.jpg">
                </a>
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/presentacion-1.jpg&quot;); opacity: 1;"></div>
            </div>
            <div class="card-body">
                <h6 class="card-category text-info">Fashion</h6>
                <h3 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D</a>
                </h3>
                <h5 class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
                </h5>
                <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
            </div>
        </div>
        <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
                <a href="#pablo">
                    <img class="img img-raised" src="~/docs/memoria-grafica/agosto/etapa-2/presentacion-2.jpg">
                </a>
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/presentacion-2.jpg&quot;); opacity: 1;"></div>
            </div>
            <div class="card-body">
                <h6 class="card-category text-info">Fashion</h6>
                <h3 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D</a>
                </h3>
                <h5 class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
                </h5>
                <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
            </div>
        </div>
        <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
                <a href="#pablo">
                    <img class="img img-raised" src="~/docs/memoria-grafica/agosto/etapa-2/presentacion-3.jpg">
                </a>
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/presentacion-3.jpg&quot;); opacity: 1;"></div>
            </div>
            <div class="card-body">
                <h6 class="card-category text-info">Fashion</h6>
                <h3 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D</a>
                </h3>
                <h5 class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
                </h5>
                <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
            </div>
        </div>
        <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
                <a href="#pablo">
                    <img class="img img-raised" src="~/docs/memoria-grafica/agosto/etapa-2/presentacion-4.jpg">
                </a>
                <div class="colored-shadow colored-shadow-big" style="background-image: url(&quot;~/docs/memoria-grafica/agosto/etapa-2/presentacion-4.jpg&quot;); opacity: 1;"></div>
            </div>
            <div class="card-body">
                <h6 class="card-category text-info">Fashion</h6>
                <h3 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D</a>
                </h3>
                <h5 class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
                </h5>
                <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
            </div>
        </div>
    </div>
    <div class="row">



        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-2/Diseño gráfico/drive-download-20180828T073626Z-001/colores-1.png" />
        </div>
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/agosto/etapa-2/Diseño gráfico/drive-download-20180828T073626Z-001/colores-2.png" />
        </div>

    </div>
</div>