<div class="col-md-12 ml-auto mr-auto">
    <div class="header text-center">
        <h3 class="title">
            Planificación arquitectonica del terreno
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/memoria-grafica-1.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-1.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-warning">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Planta Baja
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/memoria-grafica-2.jpg" " alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-2.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-rose">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Primer Piso
                    </h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="/docs/memoria-grafica/agosto/etapa-2/PGEA-segundo-piso.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-3.jpg&quot;); opacity: 1;"></div>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-4.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body ">
                    <h6 class="card-category text-info">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Segundo Piso
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
                <a href="#pablo">
                    <img class="img img-raised" src="~/docs/memoria-grafica/septiembre/primeras-lineas.jpg">
                </a>
                <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/primeras-lineas.jpg &quot;); opacity: 1;"></div>
            </div>
            <div class="card-body">
                <h6 class="card-category text-info">Fashion</h6>
                <h3 class="card-title">
                    <a href="#pablo">Autodesk looks to future of 3D</a>
                </h3>
                <h5 class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
                </h5>
                <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
            </div>
        </div>

    </div>
    <div class="row">
        <div id="content-4" style="width: -webkit-fill-available;width: 100%;">
            <object data='~/docs/memoria-grafica/septiembre/propuesta-parque.pdf' type='application/pdf' frameborder='0' style='overflow: hidden;position: relative;overflow-x: hidden;overflow-y: hidden;height: -webkit-fill-available;width: 100%;' height='100%' width='100%'></object>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success ml-auto mr-auto" href='javascript:showfile(4, "docs/memoria-grafica/septiembre/propuesta-parque.pdf")'>See file</a>
        <a class="btn btn-danger ml-auto mr-auto" href="~/docs/memoria-grafica/septiembre/propuesta-parque.pdf">Download file.pdf</a>
    </div>

    <figure>
        <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/logo.png">
    </figure>

    <div class="row">
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/fase-1.jpg">
        </div>
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/fase-1.1.jpg">
        </div>
    </div>

    <div class="card card-plain card-blog">
        <div class="card-header card-header-image">
            <a href="#pablo">
                <img class="img img-raised" src="~/docs/memoria-grafica/septiembre/fase-2.jpg">
            </a>
            <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/primeras-lineas.jpg &quot;); opacity: 1;"></div>
        </div>
        <div class="card-body">
            <h6 class="card-category text-info">Fashion</h6>
            <h3 class="card-title">
                <a href="#pablo">Autodesk looks to future of 3D</a>
            </h3>
            <h5 class="card-description">
                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
            </h5>
            <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
        </div>
    </div>
    <!-- Content -->
    <div class="row">
        <div class="col-md-4">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/zona-cultura.png" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-cultura.png&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-warning">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Planta Baja
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/zona-comercio.png" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-comercio.png&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-rose">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Primer Piso
                    </h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/zona-deportes.png" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-3.jpg&quot;); opacity: 1;"></div>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/memoria-grafica-4.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body ">
                    <h6 class="card-category text-info">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Segundo Piso
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- COnetet 2-->
    <div class="row">
        <div class="col-md-4">
            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/idea-espacio.jpg" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/idea-espacio.jpg&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-warning">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Planta Baja
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/idea-juegos.png" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;~/docs/memoria-grafica/septiembre/zona-juegos.png&quot;); opacity: 1;"></div>
                </div><div class="card-body">
                    <h6 class="card-category text-rose">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Primer Piso
                    </h4>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-blog">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img src="~/docs/memoria-grafica/septiembre/idea-recorrido.bmp" alt="">
                    </a>
                    <div class="colored-shadow" style="background-image: url(&quot;idea-recorrido.bmp&quot;); opacity: 1;"></div>
                </div><div class="card-body ">
                    <h6 class="card-category text-info">Dynamic Shadows</h6>
                    <h4 class="card-title">
                        Segundo Piso
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/circulaciones.png">
        </div>
        <div class="col-md-6">
            <img class="img-raised rounded img-fluid" alt="Raised Image" src="~/docs/memoria-grafica/septiembre/perfil-viales.jpg">
        </div>
    </div>
</div>