@{
    ViewData["Title"] = "Blog";
    ViewData["Additional"] = "Dashboard";
    ViewData["Background"] = "conecta/etapa-2.jpg";
    ViewData["Title-Main"] = "Fase II - Concurso BID";
    ViewData["Title-Description"] = "En esta publicación se describe el proceso realizado en la segunda fase del proyecto 'Conecta con la Memoria'.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">Etapa Dos - BID</h3>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                Se desarrolla un proyecto urbano y espacial a mayor nivel de detalle que incluye una propuesta programática para nuevos usos del asilo y el espacio público, una nueva normativa que promueve la mixtura de usos de suelo (residencial + comercial) y modificaciones en los perfiles viales para reorganizar el tránsito, darles prioridad a los peatones y fomentar el uso de sistemas alternativos de transporte como bicicletas y tranvía.
            </p>
            <p>
                La propuesta programática se plantea en base a las necesidades y requerimientos de los vecinos y vecinas de Matta Sur, que en su mayoría son adultos mayores y niños en edad preescolar. Se hace hincapié en las actividades culturales que fortalezcan los lazos entre la comunidad y actividades productivas y comerciales para generar atractivo turístico y dinamizar la economía del sector mediante la organización y capacitación de la comunidad para tal fin.
            </p>
            <p>
                En esta etapa nuevamente las TIC’s cumplen un papel fundamental, ya materializadas en una app de descarga gratuita, donde se brinda todo tipo de información acerca del barrio, las actividades que allí se realizan y particularmente información acerca del proyecto “Matta Sur conecta con la memoria”. Allí, las pueden pueden obtener descuentos en los locales comerciales del parque y alrededores, pueden interactuar entre sí y pueden dejar comentarios, sugerencias y experiencias acerca del proyecto.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="header text-center">
                <h3 class="title">Etapa Número Dos - Culminación 1</h3>
            </div>
            <figure>
                <a href="~/images/conecta/etapa-2.jpg">
                    <img src="~/images/conecta/etapa-2.jpg" alt="Etapa Número Dos de Conecta con la Memoria " style="width:100%;height:100%" />
                </a>
                <figcaption>Etapa - Dos <a class="btn btn-primary btn-round btn-info" href="~/docs/conecta/etapa-2.pdf"><i class="material-icons">visibility</i> Ver</a></figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="header text-center">
                <h3 class="title">Etapa Número Dos - Culminación 2</h3>
            </div>
            <figure>
                <a href="~/images/conecta/etapa-2.1.jpg">
                    <img src="~/images/conecta/etapa-2.1.jpg" alt="Etapa Número Dos - Uno de Conecta con la Memoria " style="width:100%" />
                </a>
                <figcaption>Etapa - Dos <a class="btn btn-primary btn-round btn-info" href="~/docs/conecta/etapa-2.1.pdf"><i class="material-icons">visibility</i> Ver</a></figcaption>
            </figure>
        </div>
    </div>

</div>