@{
    ViewData["Title"] = "Blog";
    ViewData["Additional"] = "Dashboard";
    ViewData["Background"] = "conecta/fase-1.jpg";
    ViewData["Title-Main"] = "Fase I - Concurso BID";
    ViewData["Title-Description"] = "En esta publicación se describe el proceso realizado en la primera fase del proyecto Matta Sur Conecta con la Memoria";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">Etapa Uno - BID</h3>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                Se desarrolló una estrategia general de intervención urbana que abarca desde una escala macro – comuna de Santiago – hasta una escala micro - polígono de trabajo (10,3 ha) que incluye el área correspondiente a los predios de carácter patrimonial del antiguo asilo “Hermanitas de los Pobres” y su entorno inmediato -.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- Fase 1 -->
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/concurso/barrio-mattasur.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/bocetos/model/poligono.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/bocetos/model/ubicación.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/bocetos/model/ubicación.png" alt="Forth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>

                <a class="carousel-control-Siguiente" href="#carouselIndicators" role="button" data-slide="Siguiente">
                    <span class="carousel-control-Siguiente-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
            <!-- //Fase 1-->
        </div>
        <div class="col-sm-6">
            <!-- Fase 1 -->
            <div id="carouselSatelite" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselSatelite" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselSatelite" data-slide-to="1"></li>
                    <li data-target="#carouselSatelite" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/bocetos/planos-ubicacion/satelite-1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/bocetos/planos-ubicacion/satelite-2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/bocetos/planos-ubicacion/satelite-3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselSatelite" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-Siguiente" href="#carouselSatelite" role="button" data-slide="Siguiente">
                    <span class="carousel-control-Siguiente-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
            <!-- //Fase 1-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                Se plantea la creación de un nuevo subcentro administrativo, cultural, comercial y turístico, que se conecte con el centro histórico y otras zonas patrimoniales de la ciudad a través de un tranvía. A escala barrial se genera un recorrido patrimonial conectando el ex asilo con otros Monumentos Patrimoniales del sector, con el objetivo de reforzar la identidad y generar atractivos turísticos y se propone un parque urbano multifuncional que invite a los vecinos del barrio y de toda la ciudad a encontrarse, conectarse entre ellos y con su historia.
            </p>
        </div>
    </div>
    <div class="row">
        <div id="content-1" style="width: -webkit-fill-available;width: 100%;">
            <object data="~/docs/memoria-grafica/julio/mattasur-conecta.pdf" type="application/pdf" frameborder="0" style="overflow: hidden;position: relative;overflow-x: hidden;overflow-y: hidden;height: -webkit-fill-available;width: 100%;" height="100%" width="100%"></object>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                Esta propuesta está atravesada por la utilización de las TIC como herramientas fundamentales para la participación activa de la comunidad en todo el proyecto, desde el planteo de las estrategias generales para el sector, la construcción del parque, el mejoramiento de sus fachadas, hasta la evaluación y monitoreo de las actividades realizadas una vez finalizada la etapa de construcción del parque y restauración del asilo.
            </p>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success ml-auto mr-auto" href='javascript:showfile(1, "docs/memoria-grafica/julio/mattasur-conecta.pdf")'>Visualiza el archivo (Aquí)</a>
        <a class="btn btn-danger ml-auto mr-auto" href="~/docs/memoria-grafica/julio/mattasur-conecta.pdf">Descarga el archivo PDF</a>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="header text-center">
                <h3 class="title">Culminación del Panel - Fase I</h3>
            </div>
            <figure>
                <a href="~/images/conecta/fase-1.jpg">
                    <img src="~/images/conecta/fase-1.jpg" alt="Fase Número Uno de Conecta con la Memoria" style="width:100%" />
                </a>
                <figcaption>Fase - Uno <a class="btn btn-primary btn-round btn-info" href="~/images/conecta/fase-1.jpg"><i class="material-icons">visibility</i> Ver</a></figcaption>
            </figure>
        </div>
    </div>
</div>
