@{
    ViewData["Title"] = "Blog";
    ViewData["Additional"] = "Dashboard";
    ViewData["Background"] = "concurso/bid-cities-lab.jpg";
    ViewData["Title-Main"] = "Conocimiento y Documentación de Cities Lab BID";
    ViewData["Title-Description"] = "Concepción de la información base ante la postulación del concurso.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">BID - Cities Lab</h3>
    </div>
    <h3 style="text-align:center">
        Organizadores
    </h3>
    @await Html.PartialAsync("../Organizadores")
    <div class="row">
        <div class="header text-center">
            <h3 class="title">Bases del Concurso (BID - Cities Lab)</h3>
        </div>
        <object data="~/docs/concurso/bases-concurso.pdf" type="application/pdf" frameborder="0" style="overflow: hidden;position: relative;overflow-x: hidden;overflow-y: hidden;height: -webkit-fill-available;width: 100%;" height="100%" width="100%"></object>
        <a class="btn btn-danger" href="~/docs/concurso/bases-concurso.pdf">Descarga el archivo PDF</a>
    </div>
    <div class="row">
        <div class="header text-center">
            <h3 class="title">Breve historia del Asilo de las hermanitas de los pobres</h3>
        </div>
        <object data="~/docs/concurso/historia-asilo.pdf" type="application/pdf" frameborder="0" style="overflow: hidden;position: relative;overflow-x: hidden;overflow-y: hidden;height: -webkit-fill-available;width: 100%;" height="100%" width="100%"></object>
        <a class="btn btn-danger" href="~/docs/concurso/historia-asilo.pdf">Descarga el archivo PDF</a>
    </div>
</div>