@{
    ViewData["Title"] = "Blog";
    ViewData["Additional"] = "Dashboard";
    ViewData["Background"] = "maincontent/concurso-bid.jpg";
    ViewData["Title-Main"] = "Memoria Grafica de 'Conecta con la Memoria'";
    ViewData["Title-Description"] = "Proceso Grafico y Explicativo del Proyecto 'Conecta'";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">El Concurso - BID CitiesLab</h3>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                El BID CitiesLab es un concurso universitario orientado a buscar soluciones creativas e ideas innovadoras a problemas urbanos de América Latina y el Caribe (ALC), de la mano a estudiantes, profesores universitarios y jóvenes profesionales. Tiene el objetivo de servir como semillero e incubadora del talento joven en temas urbanos a partir de una red de trabajo con universidades, reducir la brecha entre los jóvenes y el mercado laboral brindándoles experiencia directa con retos reales y actores de su propio contexto latinoamericano, así como promover un espacio participativo que ponga en discusión los paradigmas de la disciplina.
            </p><p>
                Esta cuarta edición internacional del concurso universitario BID CitiesLab (conocido anteriormente como el BID UrbanLab) es organizada por el LAB de innovación de la División de Vivienda y Desarrollo Urbano del BID, en alianza con la Subsecretaría de Desarrollo Regional y Administrativo (SUBDERE) del Gobierno de Chile y la Ilustre Municipalidad de Santiago, con el objetivo de desarrollar un proyecto urbano integral, una propuesta programática y un modelo de gestión sostenible, desde un enfoque participativo e innovador, para el predio de carácter patrimonial del antiguo asilo ¨Hermanitas de los Pobres¨ y su entorno inmediato, ubicado en el barrio Matta Sur de Santiago de Chile y como parte del Programa de Revitalización de Barrios e Infraestructura Patrimonial Emblemática (PRBIPE).
            </p>
        </div>
        <figure><img src="~/images/concurso/inscritos.png"/></figure>
        <div class="col-md-12 ml-auto mr-auto">
            <h3 class="title">Información:</h3>
            <p>Es un gusto informarles que estudiantes de las Facultades de Arquitectura, Diseño y urbanismo y de Ciencias Administrativas y contables han sido seleccionados en primera fase del concurso universitario BID CITIES LAB organizado por el Banco Interamericano de Desarrollo en Chile, entre 84 propuestas de 37 universidades de 12 países de América Latina y del caribe.</p>
            <p>Los estudiantes que están participando en el proyecto son Catalina Fernández (Arquitectura-intercambio), Juana Herrera (Diseño gráfico), Wilson Triana (Arquitectura), Héctor Mechán (Arquitectura), Omar Beltrán (Administración Negocios internacionales) y egresados de especialización en Diseño Urbano, arquitecto Javier López.  Dirigidos por las Docentes de la FADU Arquitecta Claudia Rocío Castillo Orjuela y Diseñadora Gráfica María Fernanda Saavedra. Con el apoyo de los Docentes Gloria Molina y Edilberto Molina, asi como de los egresados Oscar Barragán, Diego García y Salomón González.</p>
            <p>Los felicitamos y los apoyamos a seguir trabajando fuerte para pasar a la siguiente ronda y así demostrar que podemos SER LOS MEJORES</p>
        </div>
        <small>
            Tomado de: <a href="https://www.uniboyaca.edu.co/es/centro-informacion/noticias/concurso-cities-lab-chile-bid">https://www.uniboyaca.edu.co/es/centro-informacion/noticias/concurso-cities-lab-chile-bid</a>
        </small>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align:center">Some Title Here</h3>
            <div class="videocaja"><div id="video1"><img src="http://img.youtube.com/vi/kjoX05V7vRs/hqdefault.jpg" /></div></div>
        </div>
        <div class="col-sm-6">
            <h3 style="text-align:center">Another Title Here</h3>
            <div class="videocaja"><div id="video2"><img src="http://img.youtube.com/vi/zskVk6ZeYtA/hqdefault.jpg" /></div></div>
        </div>
    </div>
</div>