@{
    ViewData["Title"] = "About";
    ViewData["Background"] = "bocetos/renders/4.bmp";
    ViewData["Title-Main"] = "Sobre Nosotros";
    ViewData["Title-Description"] = "Grupo Conecta con la Memoria";
}

<div class="container">
    <div class="about-team team-1">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Sobre Nosotros</h2>
                <h5 class="description">Este grupo esta conformado de diversas carreras profesionales de la Universidad de Boyacá, la cual, su asociasión pudo crear y culminar el proyecto de Matta Sur - Conectando con la Memoria.</h5>
            </div>
        </div>
        @await Html.PartialAsync("../ProfileStudents")
    </div>
    <div class="about-office">
        <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <figure>
                    <img src="~/images/logos/logo_horizontal.png" style="width:100%" />
                    <figcaption>Conecta con la Memoria</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="about-services features-2">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Somos Uniboyaca</h2>
                <h5 class="description">Inspirado en nuestra misión y visión universitaria, nos permitio generar un producto viable, estable y eficiente, el cual permitio un esfuerzo y excelencia por parte de todos los integrantes de Conecta con la memoria.</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <figure>
                    <img src="~/images/logos/uniboyaca.png" style="width:100%" />
                    <figcaption>Universidad de Boyacá - <strong>Siendo los mejores</strong></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
