@{
    ViewData["Title"] = "About";
    ViewData["Background"] = "bocetos/renders/4.bmp";
    ViewData["Title-Main"] = "Sobre Nosotros";
    ViewData["Title-Description"] = "Grupo Conecta con la Memoria";
}

<div class="container">
    <div class="about-team team-1">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Sobre Nosotros</h2>
                <h5 class="description">Este grupo esta conformado de diversas carreras profesionales de la Universidad de Boyacá, la cual, su asociasión pudo crear y culminar el proyecto de Matta Sur - Conectando con la Memoria.</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/catalina.jpeg">
                        </figure>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Catalina</h4>
                        <h6 class="category text-muted">Creadora arquitectonica de Conecta con la Memoria</h6>

                        <p class="card-description">
                            Estudiante de Intercambio de Arquitectura
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/fabian.jpeg">
                        </figure>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Fabían</h4>
                        <h6 class="category text-muted">Creador arquitectonico de Conecta con la Memoria</h6>
                        <p class="card-description">
                            Estudiante de Arquitectura.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/wilson.jpeg">
                        </figure>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Wilson</h4>
                        <h6 class="category text-muted">Creador arquitectonico de Conecta con la Memoria</h6>
                        <p class="card-description">
                            Estudiante de Arquitectura.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/sofia.jpeg">
                        </figure>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Sofía</h4>
                        <h6 class="category text-muted">Creadora de todas las visualizaciones y Memorias graficas de Conecta con la Memoria</h6>
                        <p class="card-description">
                            Estudiante de diseño grafico
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/omar.jpeg">
                        </figure>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Omar</h4>
                        <h6 class="category text-muted">Desarrollador Financiero</h6>

                        <p class="card-description">
                            Estudiante de Administración y Negocios internacionales.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <figure>
                            <img class="img" src="~/images/integrantes/miguel.jpeg">
                        </figure>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Miguel Ángel</h4>
                        <h6 class="category text-muted">Desarrollador del Sitio Web y la Aplicación de Conecta con la Memoria</h6>
                        <p class="card-description">
                            Estudiante de Ingeniería de Sistemas.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.linkedin.com/in/miguel-angel-torres-vargas/" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="about-office">
        <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <figure>
                    <img src="~/images/logos/logo_horizontal.png" style="width:100%" />
                    <figcaption>Conecta con la Memoria</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="about-services features-2">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Somos Uniboyaca</h2>
                <h5 class="description">Inspirado en nuestra misión y visión universitaria, nos permitio generar un producto viable, estable y eficiente, el cual permitio un esfuerzo y excelencia por parte de todos los integrantes de Conecta con la memoria.</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 ml-auto mr-auto">
                <figure>
                    <img src="~/images/logos/uniboyaca.png" style="width:100%" />
                    <figcaption>Universidad de Boyacá - <strong>Siendo los mejores</strong></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
