<div class="container-fluid">
    <div class="header text-center">
        <h3 class="title">Conecta con la memoria</h3>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>Proyecto "Matta Sur conecta con la memoria", genera un recorrido patrimonial por la ciudad que incluya al ex-asilo incorporando nuevas tecnología, creando un equipamiento institucional administrativo y de servicios que supla las necesidades del sector.</p>
            <div class="blockquote undefined">
                <p>
                    Proyecto de estudiantes de la Universidad de Boyacá, seleccionado en primera fase de concurso universitario BID CITIES LAB organizado por el Banco Interamericano de Desarrollo en Chile.
                </p>
                <small>
                    Universidad de Boyacá
                </small>
            </div>
        </div>
        <div class="col-md-12 ml-auto mr-auto">
            <h3 class="title">Información:</h3>
            <p>Es un gusto informarles que estudiantes de las Facultades de Arquitectura, Diseño y urbanismo y de Ciencias Administrativas y contables han sido seleccionados en primera fase del concurso universitario BID CITIES LAB organizado por el Banco Interamericano de Desarrollo en Chile, entre 84 propuestas de 37 universidades de 12 países de América Latina y del caribe.</p>
            <p>Los estudiantes que están participando en el proyecto son Catalina Fernández (Arquitectura-intercambio), Juana Herrera (Diseño gráfico), Wilson Triana (Arquitectura), Héctor Mechán (Arquitectura), Omar Beltrán (Administración Negocios internacionales) y egresados de especialización en Diseño Urbano, arquitecto Javier López.  Dirigidos por las Docentes de la FADU Arquitecta Claudia Rocío Castillo Orjuela y Diseñadora Gráfica María Fernanda Saavedra. Con el apoyo de los Docentes Gloria Molina y Edilberto Molina, asi como de los egresados Oscar Barragán, Diego García y Salomón González.</p>
            @await Html.PartialAsync("../ProfileStudents")
            <p>Los felicitamos y los apoyamos a seguir trabajando fuerte para pasar a la siguiente ronda y así demostrar que podemos SER LOS MEJORES</p>
        </div>
        <small>
            Tomado de: <a href="https://www.uniboyaca.edu.co/es/centro-informacion/noticias/concurso-cities-lab-chile-bid">https://www.uniboyaca.edu.co/es/centro-informacion/noticias/concurso-cities-lab-chile-bid</a>
        </small>
    </div>

    <!-- Video -->
    <div class="videocaja"><div id="video1"><img src="http://img.youtube.com/vi/kjoX05V7vRs/hqdefault.jpg" /></div></div>
    <div class="videocaja"><div id="video2"><img src="http://img.youtube.com/vi/zskVk6ZeYtA/hqdefault.jpg" /></div></div>
    <!-- Video -->
        
    <div class="row">
        <div class="col-md-12">
            <div class="card card-timeline card-plain">
                <div class="card-body">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-badge danger">
                                <i class="material-icons">card_travel</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-danger">Some Title</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @@ Figueroa and 12th in downtown.</p>
                                </div>
                                <h6>
                                    <i class="ti-time"></i> 11 hours ago via Twitter
                                </h6>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge success">
                                <i class="material-icons">extension</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-success">Another One</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge info">
                                <i class="material-icons">fingerprint</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-info">Another Title</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @@ Figueroa and 12th in downtown LA 11:10PM</p>
                                    <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
                                    <hr>
                                </div>
                                <div class="timeline-footer">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                                            <i class="material-icons">build</i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge warning">
                                <i class="material-icons">flight_land</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="badge badge-pill badge-warning">Another One</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Tune into Big Boy's 92.3 I'm about to play the first single from Cruel Winter also to Kim’s hair and makeup Lorraine jewelry and the whole style squad at Balmain and the Yeezy team. Thank you Anna for the invite thank you to the whole Vogue team</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
