@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
/* Icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-twitter:before {
    content: "\f099"
}
.fa-facebook-square:before {
    content: "\f082"
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a"
}
.fa-dribbble:before {
    content: "\f17d"
}
.fa-google-plus:before {
    content: "\f0d5"
}
.fa-youtube-play:before {
    content: "\f16a"
}
.fa-linkedin:before {
    content: "\f0e1"
}