@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Matta Sur - Conecta Con la Memoria</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a asp-controller="Main" asp-action="Conecta">
                        Presentación del Proyecto
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, hecho con <i class="material-icons">favorite</i> por los<a asp-controller="Home" asp-action="About"> integrantes de Matta Sur - Conecta.</a>
            <!-- Creative Tim -->
        </div>
    </div>
</footer>