@{
    var title = ViewData["Title"].ToString().ToLower();
}
@if (title.Equals("about"))
{
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(../images/Background/@ViewData["Background"]); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
    </div>
}
else if (title.Equals("index"))
{
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="conecta-box-search col-md-12 ml-auto mr-auto">
            <div class="brand">
                <h1>
                    Conecta
                    <span class="pro-badge">
                        con la Memoria
                    </span>
                </h1>

                <h3 class="title">Santiago de Chile - Matta Sur</h3>
            </div>
            <div class=" card card-raised card-form-horizontal">
                <div class="conecta-card-body card-body conecta-card-body">
                    <!--Content-->
                    <!--//Content-->
                </div>
            </div>
        </div><div class="container">
            <div class="row">

            </div>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/1.JPG');">

                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/2.JPG');">

                </div>
            </div>
            <div class="carousel-item active">
                <div class="page-header header-filter" style="background-image: url('../../../images/background/3.JPG');">

                </div>
            </div>
        </div>
    </div>
}
else if (title.Equals("contact"))
{
    <div id="contactUsMap" class="big-map"></div>
}