@{
    var title = ViewData["Title"].ToString().ToLower();
}
@if (title.Equals("about"))
{
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url(../images/Background/@ViewData["Background"]); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
                </div>
            </div>
        </div>
    </div>
}
else if (title.Equals("index"))
{
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <div class="conecta-box-search col-md-12 ml-auto mr-auto">
            <div class="brand">
                <h1>
                    Conecta
                    <span class="pro-badge">
                        con la Memoria
                    </span>
                </h1>

                <h3 class="title">Santiago de Chile - Matta Sur</h3>
            </div>
            <!--Content-->
            <center style="margin-top: 20vh;">
                <div class="container">
                    <div class="row">
                        <!--Content-->
                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a asp-controller="Main" asp-action="MemoriaGrafica">
                                        <img src="~/images/maincontent/memoria-grafica.png" alt="">
                                        <div class="colored-shadow" style="background-image: url(@Url.Content("~/")/images/maincontent/memoria-grafica.png); opacity: 1;"></div>
                                    </a>

                                    <div class="colored-shadow" style="background-image: url(&quot;/images/maincontent/memoria-grafica.png&quot;); opacity: 1;"></div>
                                </div><div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Main" asp-action="MemoriaGrafica">Memoria Grafica</a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a asp-controller="Main" asp-action="ProyectoBID">
                                        <img src="~/images/maincontent/concurso-bid.jpg" alt="">
                                        <div class="colored-shadow" style="background-image: url(@Url.Content("~/")/images/maincontent/concurso-bid.jpg); opacity: 1;"></div>
                                    </a>

                                    <div class="colored-shadow" style="background-image: url(&quot;/images/maincontent/concurso-bid.jpg&quot;); opacity: 1;"></div>
                                </div><div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Main" asp-action="ProyectoBID">Concurso - BID Cities Lab</a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a asp-controller="Main" asp-action="Actividades">
                                        <img src="~/images/maincontent/actividades.png" alt="">
                                        <div class="colored-shadow" style="background-image: url(@Url.Content("~/")/images/maincontent/actividades.png); opacity: 1;"></div>
                                    </a>

                                    <div class="colored-shadow" style="background-image: url(&quot;/images/maincontent/actividades.pngg&quot;); opacity: 1;"></div>
                                </div><div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Main" asp-action="Actividades">Actividades con Conecta</a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                        <!--//Content-->
                    </div>
                </div>
            </center>
            <!--//Content-->
        </div>
        <div class="carousel-inner">
            @for (int i = 1; i < 4; i++)
            {
                <div class="carousel-item @((i==1)?"active":"")">
                    <div class="page-header header-filter" style="background-image: url('../../../images/background/@(i.ToString()+".jpg")');">

                    </div>
                </div>
            }
        </div>
    </div>
}
else if (title.Equals("contact"))
{
    <div id="contactUsMap" class="big-map"></div>
}