<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>@ViewData["Title"] - Conectaconlamemoria</title>
    @await Html.PartialAsync("_MetaTagsPartial")
    @await Html.PartialAsync("_HeadPartial")
</head>
<body class="@ViewData["Title"].ToString().ToLower()-page sidebar-collapse">
    @await Html.PartialAsync("_SideNavPartial")
    @await Html.PartialAsync("_HeaderPartial")
    <div class="main@(!ViewData["Title"].ToString().Equals("Index")?" main-raised":"")">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_FooterPartial")
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
