@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown nav-item">
        <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="profile-photo-small">
                <img src="~/images/users/Avatar.png" alt="Circle Image" class="rounded-circle img-fluid">
            </div>
            <div class="ripple-container"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Hola - @UserManager.GetUserName(User)!</h6>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-item">Me</a>
            <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn dropdown-item">Logout</button>
            </form>
        </div>
    </li>
}
else
{

    <li class="button-container nav-item iframe-extern">
        <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">
            <i class="material-icons">perm_identity</i> Register
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="material-icons">account_circle</i> Login
        </a>
    </li>
}