<div class="sidebar" data-color="green" data-background-color="black" data-image="../images/Background/2.jpg">
    <!--Logo-->
    <div class="logo">
        <a href="@Url.Content("~/")" class="simple-text logo-mini">
            C
        </a>

        <a href="@Url.Content("~/")" class="simple-text logo-normal">
            Conecta
        </a>
    </div>
    <!--SideBar-->
    <div class="sidebar-wrapper">
        <!-- USer -->
        <div class="user">
            <div class="photo">
                <img src="~/images/Users/Avatar.png" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Bienvenido<br />@ViewData["FullName"]
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="EditProfile">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Nav-->
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index" id="Index">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {

                    <li class="nav-item ">
                        <a class="nav-link" href="calendar.html">
                            <i class="material-icons">date_range</i>
                            <p> Crear QR </p>
                        </a>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
                            <i class="material-icons">apps</i>
                            <p>
                                Publicaciones
                                <b class="caret"></b>
                            </p>
                        </a>

                        <div class="collapse" id="componentsExamples">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
                                        <span class="sidebar-mini"> MLT </span>
                                        <span class="sidebar-normal">
                                            Administrar
                                            <b class="caret"></b>
                                        </span>

                                    </a>

                                    <div class="collapse" id="componentsCollapse">
                                        <ul class="nav">
                                            <li class="nav-item ">
                                                <a class="nav-link" href="#0">
                                                    <span class="sidebar-mini"> E </span>
                                                    <span class="sidebar-normal"> Eventos </span>
                                                </a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link" href="#0">
                                                    <span class="sidebar-mini"> E </span>
                                                    <span class="sidebar-normal"> Paginas </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item ">
                                    <a class="nav-link" data-toggle="collapse" href="#componentsCollapseCreate">
                                        <span class="sidebar-mini"> MLT </span>
                                        <span class="sidebar-normal">
                                            Crear
                                            <b class="caret"></b>
                                        </span>

                                    </a>

                                    <div class="collapse" id="componentsCollapseCreate">
                                        <ul class="nav">
                                            <li class="nav-item ">
                                                <a class="nav-link" href="#0">
                                                    <span class="sidebar-mini"> E </span>
                                                    <span class="sidebar-normal"> Eventos </span>
                                                </a>
                                            </li>
                                            <li class="nav-item ">
                                                <a class="nav-link" href="#0">
                                                    <span class="sidebar-mini"> E </span>
                                                    <span class="sidebar-normal"> Paginas </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="calendar.html">
                            <i class="material-icons">date_range</i>
                            <p> Registrar Localidad </p>
                        </a>
                    </li>

                }
            }
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Eventos" id="Eventos">
                    <i class="material-icons">date_range</i>
                    <p> Eventos </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
                    <i class="material-icons">place</i>
                    <p>
                        Guia Turistica
                        <b class="caret"></b>
                    </p>
                </a>

                <div class="collapse" id="mapsExamples">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Maps" asp-action="Index">
                                <span class="sidebar-mini"><i class="material-icons">home</i></span>
                                <span class="sidebar-normal"> Introducción </span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Maps" asp-action="FullScreen">
                                <span class="sidebar-mini"> FSM </span>
                                <span class="sidebar-normal"> Full Screen Map </span>
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Maps/Google">
                                <span class="sidebar-mini"> GM </span>
                                <span class="sidebar-normal"> Google Maps </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Historia" id="Historia">
                    <i class="material-icons">accessibility_new</i>
                    <p> Conoce Tú historia Chilena </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Conecta" id="Conecta">
                    <i class="material-icons">favorite</i>
                    <p> Proyecto - Conecta </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="App" id="App">
                    <i class="material-icons">android</i>
                    <p> Aplicación de Conecta </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Instrucciones" id="Instrucciones">
                    <i class="material-icons">description</i>
                    <p> Instrucciones de Úso </p>
                </a>
            </li>


            <li class="nav-item ">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" class="nav-link btn-danger" style="width:100%;">
                        <i class="material-icons">directions_run</i>
                        Salir
                    </button>
                </form>
            </li>

        </ul>
    </div>

</div>