
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">

    <div class="container">
        <div class="navbar-translate">

            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img id="logo" src="~/images/logos/logo_horizontal.png" alt="Conecta - Inicio" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!--Explore-->
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link btn btn-conecta-2 btn-round btn-block" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">copyright</i> Proceso de Creación - Conecta
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a asp-controller="Main" asp-action="ProyectoBID" class="dropdown-item">
                            <i class="material-icons">account_balance</i> Concurso - BID
                        </a>
                        <a asp-controller="Home" asp-action="Cronograma" class="dropdown-item">
                            <i class="material-icons">calendar_today</i> Cronograma
                        </a>
                        <a asp-controller="Main" asp-action="Conecta" class="dropdown-item">
                            <i class="material-icons" style="width:30px">starts</i> Propuesta
                        </a>
                        <a asp-controller="Main" asp-action="FaseUno" class="dropdown-item">
                            <i class="material-icons">book</i> Fase I
                        </a>
                        <a asp-controller="Main" asp-action="FaseDos" class="dropdown-item">
                            <i class="material-icons">collections_bookmark</i> Fase II
                        </a>
                        <a asp-controller="Main" asp-action="MemoriaGrafica" class="dropdown-item">
                            <i class="material-icons">check_circle_outline</i> Creación del Proyecto
                        </a>
                        <a asp-controller="Main" asp-action="Renders" class="dropdown-item">
                            <i class="material-icons">visibility</i> Vistas Finales
                        </a>
                    </div>
                </li>
                <!--Explore-->
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">explore</i> Conecta con
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a asp-controller="Historia" asp-action="Index" class="dropdown-item">
                            <i class="material-icons">public</i> La historia
                        </a>
                        <a asp-controller="Personajes" asp-action="Index" class="dropdown-item">
                            <i class="material-icons">person_pin</i> Los personajes representativos
                        </a>
                        <a asp-controller="FaunayFlora" asp-action="Index" class="dropdown-item">
                            <i class="material-icons">pets</i> La fauna
                        </a>
                        <a asp-controller="Fiestas" asp-action="Index" class="dropdown-item">
                            <i class="material-icons">cake</i> Las fiestas patrias
                        </a>
                        <a asp-controller="Lugares" asp-action="Index" class="dropdown-item">
                            <i class="material-icons">looks</i> Los lugares representativos
                        </a>
                        <a asp-controller="Home" asp-action="About" class="dropdown-item">
                            <i class="material-icons">account_balance</i> Nosotros
                        </a>
                    </div>
                </li>
                <!-- // Explore -->
                @if (((bool)User.Identity.IsAuthenticated == true))
                {
                    <li class="button-container nav-item iframe-extern">
                        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-danger btn-round btn-block"><i class="material-icons">dashboard</i> Dashboard</a>
                    </li>
                }
                <!--Login-->
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>