@model Conecta.Models.Coins.Benefits

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="row">
    <div class="card ">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">contacts</i>
            </div>
            <h4 class="card-title">Editar Beneficios</h4>
        </div>
        <form asp-action="Edit">
            <div class="card-body ">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BenefitsId" />
                <div class="row">
                    <label asp-for="Date" class="col-md-3 col-form-label"></label>
                    <div class="col-md-9">
                        <div class="form-group has-default bmd-form-group">
                            <input asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="DateEnd" class="col-md-3 col-form-label"></label>
                    <div class="col-md-9">
                        <div class="form-group has-default bmd-form-group">
                            <input asp-for="DateEnd" class="form-control" />
                            <span asp-validation-for="DateEnd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Count" class="col-md-3 col-form-label"></label>
                    <div class="col-md-9">
                        <div class="form-group has-default bmd-form-group">
                            <input asp-for="Count" class="form-control" />
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="PointsMainId" class="col-md-3 col-form-label"></label>
                    <div class="col-md-9">
                        <div class="form-group has-default bmd-form-group">
                            <input asp-for="PointsMainId" class="form-control" />
                            <span asp-validation-for="PointsMainId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="row ml-auto mr-auto">
                    <button type="submit" class="btn btn-fill btn-warning">Editar</button>
                    <a asp-action="Index" class="btn btn-fill btn-rose">Volver a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
