@{
    ViewData["Title"] = "Blog";
    ViewData["Background"] = "maincontent/represetnativos-personajes.jpg";
    ViewData["Title-Main"] = "Fiestas - Chilena";
    ViewData["Title-Description"] = "Conoce las diversas fiestas que te ofrece Chile.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<center>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <p>
                Para los que les interese la historia de Chile, dejo aquí algunos de los personajes más importantes de ésta, con una breve (muy breve) biografía y su imagen. Están ordenados por orden cronológico.
                <br>
                <br>
                <br><h3 class="title">Cristóbal Colón</h3> (lugar discutido, c. 1436-1456 – Valladolid, España, 20 de mayo de 1506) fue un navegante, cartógrafo, almirante, virrey y gobernador general de las Indias al servicio de la Corona de Castilla, famoso por haber realizado el denominado descubrimiento de América, en 1492.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Christopher_Columbus.jpg/220px-Christopher_Columbus.jpg">
                <br>
                <br>
                <br><h3 class="title">Diego de Almagro </h3>( Almagro, España, 1475 - Cuzco, Perú, 1538) fue un conquistador español. Participó en la conquista del Perú y se le considera oficialmente el descubridor de Chile.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Diego_de_Almagro.JPG/220px-Diego_de_Almagro.JPG">
                <br>
                <br>
                <br><h3 class="title">Pedro de Valdivia</h3> (Castu, Badajoz, España, 17 de abril de 1497 — Tucapel, 25 de diciembre de 1553) fue un militar y conquistador español de origen extremeño. Con el título de Teniente gobernador otorgado por Francisco Pizarro, lideró la Conquista de Chile (La Nueva Extremadura) a partir de 1540, fundando las ciudades de Santiago de Nueva Extremadura el 12 de febrero de 1541,La Serena en 1544, Concepción en 1552, La Imperial en 1551, y Valdivia en 1552. Dispuso además la fundación de las ciudades de Villarrica, y Los Confines.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Pedro_de_Valdivia.jpg/250px-Pedro_de_Valdivia.jpg">
                <br>
                <br>
                <br>
                <br><h3 class="title">Lautaro</h3> (mapudungun Lef-traru o Lev-traru, traro veloz» ), (n. Trehuaco, ca. 1534 – Peteroa, 1557) fue un destacado líder militar mapuche en la Guerra de Arauco durante la primera fase de la conquista española.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Lautaro_%28de_Pedro_Subercaseaux%29.jpg/200px-Lautaro_%28de_Pedro_Subercaseaux%29.jpg">
                <br>
                <br>
                <br><h3 class="title">Galvarino </h3>(?-1557) fue un guerrero mapuche perteneciente a las filas de Lautaro. Aunque apenas se conocen datos acerca de su vida, Galvarino fue uno de los caciques araucanos más importantes. Combatió heroicamente a las fuerzas españolas del gobernador García Hurtado de Mendoza y fue capturado en la batalla de Lagunillas, junto al río Biobío.<img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/5/5e/Galvarino.jpg">
                <br>
                <br>
                <br><h3 class="title">Caupolicán</h3> luchó desde su juventud contra los conquistadores españoles por la libertad de su territorio. Fue elegido toqui (jefe militar) de los mapuches, siendo sucesor de Lautaro.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Caupolic%C3%A1n.jpg/230px-Caupolic%C3%A1n.jpg">
                <br>
                <br>
                <br><h3 class="title">Ambrosio O'Higgins </h3>(en gaélico irlandés: Ambróis Ó hUigínn) (Ballenary, Irlanda, 1720 - Lima, Perú, 19 de marzo de 1801), conocido con los títulos de Marqués de Osorno, Marqués de Vallenar, Baron de Ballenary; fue un militar y gobernador irlandés al servicio de la corona española, Virrey del Perú (1796 - 1801).
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Portrait_of_Ambrosio_O%27Higgins_%2818th-19th_century%29.jpg/225px-Portrait_of_Ambrosio_O%27Higgins_%2818th-19th_century%29.jpg">
                <br>
                <br>
                <br><h3 class="title">Mateo de Toro Zambrano y Ureta</h3> (Santiago, 20 de septiembre de 1727 - Santiago, 26 de febrero de 1811), vizconde previo de la Descubierta, conde de la Conquista y caballero de la Orden de Santiago, fue un militar y político criollo chileno, director de la primera Junta Nacional de Gobierno conformada el 18 de Septiembre de 1810.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Mateo_Toro_Zambrano.jpg/225px-Mateo_Toro_Zambrano.jpg">
                <br>
                <br>
                <br><h3 class="title">Ignacio de la Carrera y Cuevas </h3>(* Santiago 1747 - † 1819) fue un aristócrata chileno, de origen español, que participó en el proceso de independencia de su país.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/IgnacioCarrera01.jpg/220px-IgnacioCarrera01.jpg">
                <br>
                <br>
                <br><h3 class="title">José Miguel de la Carrera y Verdugo</h3> (Santiago, 15 de octubre de 1785 - Mendoza, 4 de septiembre de 1821) fue un político y militar chileno. Prócer de la emancipación de Chile y destacado participante en las guerras de independencia, jefe de gobierno y primer general en jefe del Ejército. Considerado como el primer caudillo en la historia republicana de este país, y uno de los primeros de América.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Jos%C3%A9_Miguel_Carrera.jpg/200px-Jos%C3%A9_Miguel_Carrera.jpg">
                <br>
                <br>
                <br><h3 class="title">Manuel Javier Rodríguez Erdoíza</h3> (Santiago, 24 de febrero de 1785 - Tiltil, 26 de mayo de 1818) fue un patriota que realizó innumerables acciones en pos de la independencia de Chile, como, abogado, político, guerrillero y luego militar chileno, y es considerado como uno de los principales gestores y participes del proceso de independencia de Chile.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/ManuelRodrigez.jpg/250px-ManuelRodrigez.jpg">
                <br>
                <br>
                <br><h3 class="title">Bernardo O'Higgins Riquelme</h3> (Chillán, 20 de agosto de 1778 – Lima, 24 de octubre de 1842) fue un político y militar chileno. Es considerado el Padre de la patria en Chile y fue una de las figuras militares fundamentales de la independencia de su país y de Latinoamérica. Fue el primer jefe de Estado de la República de Chile bajo el título de director supremo entre 1817 y 1823.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Ohiggins.jpg/250px-Ohiggins.jpg">
                <br>
                <br>
                <br><h3 class="title">José Francisco de San Martín </h3>(Yapeyú, Virreinato del Río de la Plata, 25 de febrero de 1778 - Boulogne-sur-Mer, Francia, 17 de agosto de 1850) fue un militar argentino cuyas campañas fueron decisivas para las independencias de la Argentina, Chile y el Perú.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Smartin.JPG/225px-Smartin.JPG">
                <br>
                <br>
                <br><h3 class="title">Thomas Alexander Cochrane</h3>, X conde de Dundonald, marqués de Maranhão (Annsfield cerca de Hamilton, 14 de diciembre de 1775 – Londres, 31 de octubre de 1860), conocido como Lord Cochrane. Fue un político radical, oficial e innovador naval británico. Considerado como uno de los capitanes británicos más audaces y exitosos de las guerras de la revolución francesa, lo que llevó a los franceses a apodarlo "le loup des mers" (el lobo de los mares). Después de ser dado de baja de la marina británica, sirvió en las marinas de Chile, Brasil y Grecia.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Lord_Cochrane.jpg/220px-Lord_Cochrane.jpg">
                <br>
                <br>
                <br><h3 class="title">Ramón Freire Serrano</h3> (Santiago, 27 de noviembre de 1787 - 9 de diciembre de 1851) fue un militar y dirigente chileno que combatió durante la guerra de independencia de su país, hasta alcanzar el grado de Capitán General. Se desempeñó en diversas oportunidades en la primera magistratura, con los cargos de Director Supremo y Presidente de Chile.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Ram%C3%B3n_Freire%282%29.jpg/250px-Ram%C3%B3n_Freire%282%29.jpg">
                <br>
                <br>
                <br><h3 class="title">Diego José Pedro Víctor Portales y Palazuelos </h3>( * Santiago, Chile, 16 de junio de 1793 - † Valparaíso, Chile, 6 de junio de 1837) fue un político chileno, comerciante y ministro de Estado, una de las figuras fundamentales de la organización política de su país. Personaje controvertido, es visto por muchos como el Organizador de la República y por otros, como un dictador tiránico.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Diego_Portales_por_Domeniconi%282%29.JPG/200px-Diego_Portales_por_Domeniconi%282%29.JPG">
                <br>
                <br><h3 class="title">Andrés de Jesús María y José Bello López</h3> (Caracas, 29 de noviembre de 1781 - Santiago de Chile, 15 de octubre de 1865) fue un filósofo, poeta, filólogo, educador y jurista venezolano, considerado como uno de los humanistas más importantes de América.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/48/AndresBello.jpg/250px-AndresBello.jpg">
                <br>
                <br>
                <br><h3 class="title">Manuel Blanco Encalada </h3>(Buenos Aires, 21 de abril de 1790 — Santiago, 5 de septiembre de 1876), fue un militar chileno de origen argentino que participó en las guerras de Independencia de Chile, del Perú y contra la Confederación Perú-Boliviana. En el período de Patria Vieja fue capitán del ejército patriota bajo las órdenes de Carrera y en la Patria Nueva se incorporó como oficial en el "Ejército Unido Libertador de Chile".
                <br>En junio de 1818, se convirtió en el primer Comandante General de Marina y jefe de la escuadra, cargo que entregó posteriormente a Thomas Cochrane, y que recuperó en 1823, cuando este abandonó Chile. Fue el primer Presidente de la República de Chile, siendo elegido en 1826.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Blanco_Encalada%282%29.jpeg/225px-Blanco_Encalada%282%29.jpeg">
                <br>
                <br>
                <br><h3 class="title">Agustín Arturo Prat Chacón</h3> (Hacienda San Agustín de Puñual, Ninhue, Chile, 3 de abril de 1848, - Iquique, 21 de mayo de 1879) marino, militar y abogado chileno. Es considerado en Chile como su máximo héroe naval.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Arturo_Prat_Chac%C3%B3n.jpg/220px-Arturo_Prat_Chac%C3%B3n.jpg">
                <br>
                <br>
                <br><h3 class="title">Carlos Arnaldo Condell de la Haza</h3> ( * Valparaíso, Chile, 14 de agosto de 1843 - † Quilpué, Chile, 24 de noviembre de 1887) fue un marino chileno. Participó activamente en la Guerra contra España y en la Guerra del Pacífico, destacándose como héroe naval del combate de Punta Gruesa.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Carlos_Condell-J.F.Gonz%C3%A1lez.JPG/220px-Carlos_Condell-J.F.Gonz%C3%A1lez.JPG">
                <br>
                <br>
                <br><h3 class="title">Ignacio José Carrera Pinto</h3> ( * Santiago, Chile, 5 de febrero de 1848 - † Concepción, Perú, 10 de julio de 1882). Militar chileno, Capitán de la 4ª Compañía del "Batallón Chacabuco" 6º de Línea, muerto al mando de sus hombres en el Combate de Concepción.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Ignacio_Carrera_Pinto_BCN.jpg/220px-Ignacio_Carrera_Pinto_BCN.jpg">
                <br>
                <br>    
                <br><h3 class="title">José Manuel Balmaceda Fernández</h3> (Hacienda Bucalemu; 19 de julio de 1840 - Santiago † 19 de septiembre de 1891) fue Presidente de Chile entre 1886 y 1891.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Presidente_J.M_Balmaceda.jpg/225px-Presidente_J.M_Balmaceda.jpg">
                <br>
                <br>
                <br><h3 class="title">Arturo Fortunato Alessandri Palma</h3> (Hacienda de Longaví, Provincia de Linares, Chile, 20 de diciembre de 1868 - Santiago de Chile, Chile, 24 de agosto de 1950) fue un abogado y político chileno, patriarca de la Familia Alessandri. Presidente de la República entre 1920 y 1925 y entre 1932 y 1938.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Arturo_Alessandri_Palma.jpg/250px-Arturo_Alessandri_Palma.jpg">
                <br>
                <br>
                <br><h3 class="title">General Carlos Ibáñez del Campo </h3>(Linares, 3 de noviembre de 1877 - Santiago, 28 de abril de 1960) fue un militar y político chileno. Fue Presidente de la República en dos ocasiones: de 1927 a 1931 y de 1952 a 1958.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Pdte._Iba%C3%B1ez.jpg/225px-Pdte._Iba%C3%B1ez.jpg">
                <br>
                <br>
                <br><h3 class="title">Lucila de María del Perpetuo Socorro Godoy Alcayaga</h3>, conocida por su seudónimo <h3 class="title">Gabriela Mistral</h3> (Vicuña, 7 de abril de 1889 – Nueva York, 10 de enero de 1957), fue una destacada poetisa, diplomática y pedagoga chilena. Gabriela Mistral, una de las principales figuras de la literatura chilena y latinoamericana, es la primera persona latinoamericana y primera mujer americana en ganar el Premio Nobel de Literatura, el cual recibió en 1945.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Gabriela_Mistral-01.jpg/200px-Gabriela_Mistral-01.jpg">
                <br>
                <br><h3 class="title">Violeta del Carmen Parra Sandoval</h3> (San Fabián de Alico o en San Carlos, 4 de octubre de 1917 - Santiago de Chile, 5 de febrero de 1967 ) fue una cantautora, pintora, escultora, bordadora y ceramista chilena, considerada por algunos la folclorista más importante de América y fundadora de la música popular chilena.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Parra01f.PNG/250px-Parra01f.PNG">
                <br>
                <br><h3 class="title">Ricardo Eliécer Neftalí Reyes Basoalto </h3>(Parral, 12 de julio de 1904 – Santiago de Chile, 23 de septiembre de 1973) conocido por el seudónimo y, más tarde (1946), el nombre legal de <h3 class="title">Pablo Neruda</h3>, fue un poeta y militante comunista chileno, considerado entre los mejores y más influyentes de su siglo, por lo que obtuvo el Premio Nobel de Literatura en 1971.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Pablo_Neruda.jpg/200px-Pablo_Neruda.jpg">
                <br>
                <br>
                <br><h3 class="title">Salvador Allende Gossens </h3>(Valparaíso, 26 de junio de 1908 - Santiago, 11 de septiembre de 1973) fue un médico y político socialista chileno, presidente de Chile entre el 4 de noviembre de 1970 y el 11 de septiembre de 1973.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/b/bd/S.Allende_7_dias_ilustrados.JPG">
                <br>
                <br>
                <br><h3 class="title">Augusto José Ramón Pinochet Ugarte</h3> (Valparaíso, 25 de noviembre de 1915 - Santiago de Chile, 10 de diciembre de 2006) fue un militar chileno, dictador de ese país entre los años 1973 y 1990.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Augusto_Pinochet_-_1995.jpg/225px-Augusto_Pinochet_-_1995.jpg">
                <br>
                <br>
                <br><h3 class="title">Víctor Lidio Jara Martínez</h3> (1932-1973), conocido como Víctor Jara, fue un músico, cantautor, profesor, director de teatro, activista político y miembro del Partido Comunista de Chile.
                <br><img class="imagen" border="0" src="http://upload.wikimedia.org/wikipedia/en/thumb/2/2b/V%C3%ADctor_Jara.jpg/220px-V%C3%ADctor_Jara.jpg">
                <br>
                <br>Sé que hay muchos más personajes que tuvieron gran importancia para Chile, pero no puedo ponerlos a todos, así que puse a los más conocidos. Si se me escapó alguno, me avisan.
            </p>
        </div>
    </div>
</center>       