@{
    ViewData["Title"] = "Blog";
    ViewData["Background"] = "maincontent/fiestas-patrias.jpg";
    ViewData["Title-Main"] = "Fiestas - Chilena";
    ViewData["Title-Description"] = "Conoce las diversas fiestas que te ofrece Chile.";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Fiesta Tapati de Rapa Nui </h3>
        <figure>
            <img src="~/images/fiestas/1.jpg" style="width:100%" />
        </figure>
        <p>
            Con la piel como soporte, cual tela de un cuadro, los cuerpos pintados son obras de arte en movimiento en la isla de Pascua. Se trata de la fiesta Tapati, que cada febrero elige una reina luego de competencias deportivas, artísticas y de cultura tradicional. Las alianzas en competencia preparan trajes típicos, cantos y bailes y comparten relatos transmitiendo oralmente sus historias ancestrales. La destreza física se pone a prueba en el haka pei, cuando los jóvenes más osados se lanzan en troncos de plátanos a gran velocidad por la pendiente de un cerro. La pintura del cuerpo, denominada takona, es una de las características principales de la actividad. Los isleños compiten pintándose con pigmentos naturales y símbolos originarios.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            Carnavalón
        </h3>
        <figure>
            <img src="~/images/fiestas/2.jpg" style="width:100%" />
        </figure>
        <p>
            También en febrero, en San Miguel de Azapa, Putre y Socoroma, se realiza un ceremonial para desenterrar de modo figurativo a Ño Carnavalón. Símbolo de la alegría, la fertilidad y la fortuna, el personaje y su carnaval atraen a miles de habitantes de los pueblos altiplánicos. Es una fiesta tradicional mestiza que se celebra 40 días antes de la cuaresma católica, para resucitar al legendario personaje mítico que augura felicidad todo el año. Se trata, al mismo tiempo, de un saludo a la pachamama (la madre tierra) y al tata inti (el padre sol, ambos en lenguas nativas), con música, bailes y frutos de la zona que prometen abundancia.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Semana Valdiviana</h3>
        <figure>
            <img src="~/images/fiestas/3.jpg" style="width:100%" />
        </figure>
        <p>
            Hay más fiestas en febrero. Al sur de Chile, en la zona de los lagos y bosques milenarios, se festeja la fundación de la ciudad de Valdivia. “En el río Calle-Calle se está bañando la luna”, dice una canción para resaltar la belleza del entorno. Para conmemorar el hito , ocurrido el 9 de febrero de 1552, decenas de embarcaciones dan vida a un corso fluvial, que cautiva a valdivianos y visitantes que llegan desde otros rincones de Chile y desde extranjero. Las naves engalanadas compiten por un premio a la más glamorosa y son el marco perfecto para coronar a una reina de belleza. Un espectáculo de fuegos de artificio cierra la fiesta, al tiempo que en las riberas del Calle-Calle se disfrutan presentaciones artísticas, gastronomía y cerveza, rememorando la influencia cultural de los inmigrantes alemanes que poblaron la zona desde el siglo XIX.
        </p>
    </div>
</div><div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            Fiestas de la vendimia
        </h3>
        <figure>
            <img src="~/images/fiestas/4.jpg" style="width:100%" />
        </figure>
        <p>
            El prestigio del vino chileno es celebrado de modo especial en la zona central del país. Los preparativos comienzan con la llegada del verano y los festejos culminan en las últimas semanas de marzo. La fiesta de la ciudad de Curicó es la más antigua y comienza con una ceremonia religiosa para bendecir los primeros mostos y dar paso a los carros alegóricos. La vendimia también elige a su reina, quien es pesada en botellas de vino en una romana o balanza, mientras se realiza la competencia de pisadores de uva, con equipos que compiten durante 10 minutos sobre las uvas hasta convertirlas en jugo. Las palmas y los gritos de aliento acompañan los movimientos, a veces graciosos, pero siempre festivos.
        </p>
    </div>
</div><div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            Fiestas de la cultura
        </h3>
        <figure>
            <img src="~/images/fiestas/5.jpg" style="width:100%" />
        </figure>
        <p>
            Abril es el mes de las fiestas organizadas por el Consejo Nacional de la Cultura y las Artes, denominadas Chile+Cultura. Son actividades ciudadanas en todo el país, acercando la cultura a la gente y abriendo espacios para la difusión de las obras de los artistas. Músicos, poetas, pintores, cineastas, actores y bailarines muestran sus trabajos a públicos masivos.
        </p>
    </div>
</div><div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">
            Año Nuevo Indígena
        </h3>
        <figure>
            <img src="~/images/fiestas/6.jpg" style="width:100%" />
        </figure>
        <p>
            Los pueblos originarios aymara, quechua, atacameño, diaguita, kolla, rapa nui y mapuche siguen su propio calendario ancestral. Para ellos el año nuevo comienza con el solsticio de invierno y se celebra entre el 21 y el 24 de junio. Ha terminado la cosecha en los campos, la tierra debe descansar, prepararse para la siembra y renovar su fertilidad. Es un nuevo ciclo de vida y las culturas indígenas agradecen a la naturaleza. Existen antecedentes que indican que en gran parte del territorio los pueblos indígenas están conmemorando esta fecha. Asimismo ocurre con el pueblo mapuche, que realiza ceremonias en varias regiones del país. Entre el 21 y 24 de junio se conmemora el wetripantu o wiñol tripantu, que significa año nuevo o vuelta del año, respectivamente. En las mismas fechas se celebran el machaq mara (año nuevo) o mara taq´a (división del año) para el pueblo aymara. El inti raymi, entendido como año nuevo para el pueblo quechua, y el aringa ora o koro, para el pueblo rapa nui, entendida como la celebración del ciclo anual de la vida.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Fiesta de San Pedro</h3>
        <figure>
            <img src="~/images/fiestas/7.jpg" style="width:100%" />
        </figure>
        <p>
            El 29 de junio, los pescadores, buzos, mariscadores y trabajadores del mar celebran a san Pedro, su santo patrono, según la creencia católica. A bordo de un bote rodeado de otras embarcaciones pequeñas, la figura del apóstol recibe los ruegos para que interceda por la pesca abundante, buena salud y un mar benévolo. Comparte la fiesta numeroso público venido de las ciudades  y turistas extranjeros. La celebración incluye una misa acompañada de bailes. Las ofrendas son frutos del mar y herramientas de trabajo. El santo preside su fiesta en un altar y es paseado por calles y caletas. Desde el mar, suenan las sirenas de las embarcaciones saludando su paso.
        </p>
    </div>
</div><div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Fiesta de La Tirana</h3>
        <figure>
            <img src="~/images/fiestas/8.jpg" style="width:100%" />
        </figure>
        <p>
            La Tirana es un pueblo de la Región de Tarapacá, ubicado en la provincia del Tamarugal. Pero como fiesta trasciende este lugar, convirtiéndose en la más célebre de Chile, visitada por peregrinos y turistas. La celebración se inicia el 11 de julio con la misa de cera y finaliza con la despedida de los bailes entre el 18 ó 19 de julio, dependiendo de la cantidad de estos. Cada año, bailarines y músicos dan vida a una danza religiosa que refleja el sometimiento del mal (el diablo) y los pecados capitales ante la virgen, figura frente a quien llegan rendidos. La diablada se incorpora a esta festividad en los años 40, imitando la organización de las diabladas bolivianas. Los bailes más antiguos son El baile chino, Los chunchos, Cuyacas, Los indios y Los gitanos. El cuerpo de baile, con trajes y máscaras inquietantes, se mueve al ritmo de tambores y flautas. El paso lo marca el caporal de la cofradía con un silbato, al tiempo que la actividad da muestras de sincretismo religioso y saluda también a la virgen del Carmen. En el poblado hay registro de celebraciones casi del siglo XVII, pero la fiesta propiamente tal toma cuerpo con la chilenización. Los primeros bailes son de origen minero chileno, junto con ellos se acoplan bailes altiplánicos y de origen boliviano o peruano, que a su vez imitan las fiestas religiosas españolas.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Carnavales de invierno</h3>
        <figure>
            <img src="~/images/fiestas/9.jpg" style="width:100%" />
        </figure>
        <p>
            El frío invierno del extremo sur se entibia con fiestas y carnavales. En julio se realiza en Puerto Williams, la ciudad más austral del mundo, la fiesta de la Nieve. Lugareños y turistas, todos participan. El mismo mes, la cercana Punta Arenas organiza el carnaval llamado Invernada en la Patagonia. Carros alegóricos y murgas recorren el centro de la urbe, varias candidatas compiten por el cetro de reina y los fuegos artificiales encienden la noche de clausura junto al estrecho de Magallanes.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Fiestas Patrias</h3>
        <figure>
            <img src="~/images/fiestas/10.jpg" style="width:100%" />
        </figure>
        <p>
            En Chile, el día nacional es el 18 de septiembre y sirve también para anticipar la primavera en las fondas o ramadas, cobertizos provisorios que acogen tabernas igualmente ocasionales, que ofrecen comidas típicas, empanadas, chicha y vino tinto, donde además se bailan cuecas y cumbias. Junto a la conmemoración de la primera junta de gobierno de 1810, el 19 también es festivo con motivo de las glorias del Ejército, con todas las ramas uniformadas desfilando en las principales ciudades. Las casas lucen la bandera nacional, los niños elevan volantines, juegan al trompo y a las “bolitas” (canicas), se compite en la rayuela (tiro del tejo sobre una línea) y en el palo encebado. Se realizan carreras a la chilena, es decir, con jinetes corriendo sin montura, agarrados de las crines, y en las medialunas hay rodeos.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Fiesta de la virgen de Andacollo</h3>
        <figure>
            <img src="~/images/fiestas/11.jpg" style="width:100%" />
        </figure>
        <p>
            El cobre, riqueza básica principal de Chile, es protagonista de una muestra de la religiosidad popular. Andacollo, localidad de la Región de Coquimbo, fue un asentamiento de la cultura El Molle, de influencia inca, que desarrolló la agricultura y la explotación del mineral. En lengua quechua, “anta” significa cobre y “coya”, soberana. De allí que la virgen de Andacollo sea venerada como reina del cobre. Muy concurrida por nacionales y foráneos, la actividad se celebra cada año entre el 24 y el 26 de diciembre con bailes y mandas a la patrona.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Navidad</h3>
        <figure>
            <img src="~/images/fiestas/12.jpg" style="width:100%" />
        </figure>
        <p>            
            Cada 24 de diciembre, en Chile se recuerda el nacimiento de Jesús con una cena familiar, además de pan de pascua -bizcocho con fruta glaseada o confitada- y cola de mono, un brebaje que mezcla aguardiente, leche, azúcar, café y canela. Es una fiesta dedicada especialmente a los niños, que reciben los regalos del Viejo Pascuero, denominación que se da en el país a Santa Claus o Papá Noel. Los presentes aparecen tras la medianoche bajo un pino del que cuelgan luces y adornos que simulan velas y nieve, dado el origen europeo de la fiesta. A los pies del árbol, suele instalarse un pesebre, la representación con figuras del alumbramiento del mesías católico.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Año Nuevo</h3>
        <figure>
            <img src="~/images/fiestas/13.jpg" style="width:100%" />
        </figure>
        <p>
            El 1 de enero es recibido en Chile con espectaculares festivales pirotécnicos en distintas ciudades del país. Los fuegos artificiales más tradicionales son los del puerto de Valparaíso, admirados a partir de la medianoche del 31 de diciembre por millares de personas que buscan el mejor mirador en los cerros de la ciudad. Chilenos y extranjeros se abrazan, beben champaña, se desean prosperidad y no pocos practican rituales propios de la superstición. Algunos comen lentejas, otros escriben lo malo del año viejo en un papel que luego queman y no pocos pasean con maletas por el barrio como augurio de que viajarán durante el año. Tampoco faltan quienes se calzan prendas especiales para la ocasión.
        </p>
    </div>
</div>